<%- include("header") -%>
<div class="container-fluid mt-4">
   <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image: url(https://source.unsplash.com/random/1600x450/?Agra,Fort); background-size: auto;">
      <div class="col-md-6 px-0">
         <h1 class="display-4 font-italic">AGRA FORT</h1>
         <p class="lead my-3">The Agra Fort was originally built in 1080 AD. However, its red sandstone façade came to life in 1573 AD when Akbar re-built the fort. Since then, the Agra Fort has gained immense popularity and is one of the best monuments to visit in India.

         The structure of the Agra Fort is fabulous with intricate artwork on its sandstone and marble walls. Tours to the fort are available in English and Hindi at a nominal fee.
</p>
         <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
      </div>
   </div>
   <h5 class="font-italic" style="text-align:center;">Page Contents</h5>
   <div class="p-3 mb-3 bg-white text-center pc">
      <a href="#rp" s class="btn btn-dark" style="margin:5px;">Read the Post</a>
      <a href="#gall" s class="btn btn-dark" style="margin:5px;">View Gallery</a>
      <a href="#gmap" s class="btn btn-dark" style="margin:5px;">View on Map</a>
      <a href="#video" s class="btn btn-dark" style="margin:5px;">View a Video </a>
      <a href="#fac" s class="btn btn-dark" style="margin:5px;">Facts</a>
      <a href="#comm" s class="btn btn-dark" style="margin:5px;">Write a Comment</a>
   </div>
</div>
<main role="main" class="container">
<div class="row">
   <div class="col-md-8 blog-main pc">
      <div id="rp" class="blog-post">
         <h2 class="blog-post-title">Agra Fort</h2>
         <p class="blog-post-meta">April 16, 2021 by <a href="#">Ankit</a></p>
         <hr>
         <p>

The Agra Fort was originally built in 1080 AD. However, its red sandstone façade came to life in 1573 AD when Akbar re-built the fort. Since then, the Agra Fort has gained immense popularity and is one of the best monuments to visit in India.
<br>
The structure of the Agra Fort is fabulous with intricate artwork on its sandstone and marble walls. Tours to the fort are available in English and Hindi at a nominal fee.





         <hr>
         <!--Google map-->
         <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
         <blockquote>
            <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
         </blockquote>
         <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
         <h2>Heading</h2>
         <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
         <h3>Sub-heading</h3>
         <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
         <pre><code>Example code block</code></pre>
         <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
         <h3>Sub-heading</h3>
         <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
         <ul>
            <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
            <li>Donec id elit non mi porta gravida at eget metus.</li>
            <li>Nulla vitae elit libero, a pharetra augue.</li>
         </ul>
         <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
         <ol>
            <li>Vestibulum id ligula porta felis euismod semper.</li>
            <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
            <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
         </ol>
         <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
      </div>
      <!-- /.blog-post -->
      <div class="blog-post">
         <h2 class="blog-post-title">History:</h2>
         <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>
         <p>

         After the First Battle of Panipat in 1526, Babur stayed in the fort, in the palace of Ibrahim Lodi. He later built a baoli (step well) in it. His successor, Humayun, was crowned in the fort in 1530. He was defeated at Bilgram in 1540 by Sher Shah Suri. The fort remained with the Suris till 1555, when Humayun recaptured it. Adil Shah Suri's general, Hemu, recaptured Agra in 1556 and pursued its fleeing governor to Delhi where he met the Mughals in the Battle of Tughlaqabad.
            <br>

         Realising the importance of its central situation, Akbar made it his capital and arrived in Agra in 1558. His historian, Abul Fazl, recorded that this was a brick fort known as 'Badalgarh'. It was in a ruined condition and Akbar had it rebuilt with red sandstone from Barauli area Dhaulpur district, in Rajasthan.[citation needed] Architects laid the foundation and it was built with bricks in the inner core with sandstone on external surfaces. Some 4,000 builders worked on it daily for eight years, completing it in 1573.
<br>
         It was only during the reign of Akbar's grandson, Shah Jahan, that the site took on its current state. Shah Jahan built the beautiful Taj Mahal in the memory of his wife, Mumtaz Mahal. Unlike his grandfather, Shah Jahan tended to have buildings made from white marble. He destroyed some of the earlier buildings inside the fort to make his own.[citation needed]
<br>
         The fort was under the Jat rulers of Bharatpur for 13 Years. In the fort, they built the Ratan Singh ki haveli. The fort was invaded and captured by the Maratha Empire in the early 18th century. Thereafter, it changed hands between the Marathas and their foes many times. After their catastrophic defeat at Third Battle of Panipat by Ahmad Shah Abdali in 1761, Marathas remained out of the region for the next decade. Finally Mahadji Shinde took the fort in 1785. It was lost by the Marathas to the British during the Second Anglo-Maratha War, in 1803.[citation needed]
<br>
         The fort was the site of a battle during the Indian rebellion of 1857, which caused the end of the British East India Company's rule in India, and led to a century of direct rule of India by Britain.[citation needed]
</p>
      </div>
      <!-- /.blog-post -->
      <div class="blog-post">
         <h2 class="blog-post-title">Layout</h2>
         <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

          <p>

          The 380,000 m2 (94-acre) fort has a semicircular plan, its chord lies parallel to the river Yamuna and its walls are seventy feet high. Double ramparts have massive circular bastions at intervals, with battlements, embrasures, machicolations and string courses. Four gates were provided on its four sides, one Khizri gate opening on to the river.[citation needed]
            <br>
          Two of the fort's gates are notable: the "Delhi Gate" and the "Lahore Gate." The Lahore Gate is also popularly also known as the "Amar Singh Gate," for Amar Singh Rathore.[citation needed]
            <br>
          The monumental Delhi Gate, which faces the city on the western side of the fort, is considered the grandest of the four gates and a masterpiece of Akbar's time. It was built circa 1568 both to enhance security and as the king's formal gate, and includes features related to both. It is embellished with intricate inlay work in white marble. A wooden drawbridge was used to cross the moat and reach the gate from the mainland; inside, an inner gateway called Hathi Pol ("Elephant Gate") – guarded by two life-sized stone elephants with their riders – added another layer of security. The drawbridge, slight ascent, and 90-degree turn between the outer and inner gates make the entrance impregnable. During a siege, attackers would employ elephants to crush a fort's gates. Without a level, straight run-up to gather speed, however, that thing is prevented by this layout.[citation needed]
            <br>
          Because the Indian military (the Parachute Brigade in particular) is still using the northern portion of the Agra Fort, the Delhi Gate cannot be used by the public. Tourists enter via the Amar Singh Gate.[citation needed]
            <br>
          The site is very important in terms of architectural history. Abul Fazal recorded that five hundred buildings in the beautiful designs of Bengal and Gujarat were built in the fort. Some of them were demolished by Shah Jahan to make way for his white marble palaces. Most of the others were destroyed by the British troops of East India Company between 1803 and 1862 for raising barracks. Hardly thirty Mughal buildings have survived on the south-eastern side, facing the river, such as the Delhi Gate and Akbar Gate and one palace – "Bengali Mahal".
            <br>
          Akbar Darwazza (Akbar Gate) was renamed Amar Singh Gate by Shah Jahan. The gate is similar in design to the Delhi Gate. Both are built of red sandstone.[citation needed]
            <br>
          The Bengali Mahal is built of red sandstone and is now split into Akbari Mahal and Jahangiri Mahal.[6]
</p>
</div>
        <!-- /.blog-post -->
        <div class="blog-post">
           <h2 class="blog-post-title">Other Historic sites inside Agra Fort</h2>
           <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

            <p>
            Jahangir's Hauz (tank) A.D. 1610: This monolithic tank (hauz) was used for bathing. It is 5 feet high, 8 feet in diameter and 25 feet in circumference. On the external side of the rim there is an inscription in Persian which mentions it as 'Hauz-e-Jahangir'. It was first discovered near the courtyard of Akbar's palace. In A.D. 1843 and later it was placed in front of Diwan-e-Am. In 1862, it was shifted to public garden (Company Bagh) where it suffered much damage. Later, Sir John Marshall brought it back to Agra Fort and placed there. Due to this hauz, the palace became famous as Jahangiri Mahal though it is part of Akbar's Bengali mahal.
              <br>
            Shahjahani Mahal (1628-35 A.D.): It is situated in between the white marble Khas Mahal and the red stone Jahangiri Mahal and is set transitionally in between these two residential complexes of two different ages. It is the earliest attempt of the Mughal emperor Shahjahan to convert an existing red stone building in accordance with his taste and it was his earliest palace in Agra Fort. It has a large hall, side rooms and an octagonal tower on the riverside. The skeletal construction of brick and red stone was all redone with a thick white stucco plaster and colourfully painted in floral designs. The whole palace once glistened white like white marble. On the face towards the Khas Mahal, is a large spacious white marble dalan, composed of five arches, supported on double pillars and protected externally by a chhajja. Its closed western bay houses, the Ghaznin gate, Babur's baoli and a well are situated beneath it.
              <br>
            Ghaznin Gate (1030 A.D.): The gate originally belonged to the tomb of Mahmud Ghaznavi at Ghazni. It was brought from there by the British in1842. Lord Ellenborough, the Governor General, in historic proclamation claimed, that these were the sandalwood gates of Somnath which Mahmud had taken to Ghazni in 1025, and the British had thus avenged an insult of 800 years back. This false claim was made just to win the goodwill of the Indian people. The gate is, in fact, made of local deodar wood of Ghazni and not of sandalwood. The style of decoration bears no resemblance to ancient Gujrati woodwork. There is also an Arabic inscription carved on the upper part. It mentions Mahmud with his epithets. Sir John Marshall had placed here a notice-board which described the whole episode about this gate. It is 16.5 feet high and 13.5 feet broad and its wight is about half a ton. It is made up of geometrical, hexagonal and octagonal panels which have been fixed, one with the help of the other into the frame without rivets. The idea to restore it at Somnath was ultimately given up and the gate was abandoned. Since then, it is stored in a room.
                <br>
            Jahangir's Chain of Justice (C. 1605 A.D.): This is the spot where Mughal king Jahangir instituted his 'chain of justice'(Zanjir-i-Adl) in c. 1605 A.D. He records in his memoir that after his accession, the first order he gave, "was for the fastening up of the chain of justice so that if those engaged in the administration of justice should delay or practice hypocrisy, the aggrieved might come to this chain and shake it so that its noise might attract my attention." It was made of pure gold. It was 80' in length and had 60 bells. Its weight was 1 Quintal. One end was fastened to the battlements of the Shah-Burj and the other end to a stone post on the bank of the river. This is not a myth. Contemporary foreign travellers like William Hawkins personally saw it. It has also been depicted in a contemporary painting made in 1620 A.D. This was a way to redress the grievances of the people who could approach the king, the highest judicial authority of the empire, directly, without fee, fear or formality for immediate relief. There was no distinction of caste or creed or between poor and rich. Jahangir's administration of justice 'Adl-i-Jahangir' became a legend in Indian history.
            <br>
            The Muthamman Burj (Shah-Burj) & Jharokha (1632 -1640 A.D.): This beautiful palace surmounts the largest bastion of Agra Fort on the riverside, facing the East. It was originally built of red stone by Akbar who used it for jharokha darshan, as well as for sun worship, everyday at sunrise. Jehangir also used it as jharokha, as is faithfully shown in his painting made in 1620. He also instituted his 'Adl-i-Janjir'(the chain of justice) on its south side. Owing to its octagonal plan, it was called 'Muthamman Burj'. It has also been mentioned as 'Shah-Burj'(the imperial or king's tower) by Persian historians and foreign travellers. Its name jasmine tower or 'Samman-Burj' as recorded by the contemporary historian Lahauri is a misnomer. It was rebuilt with white marble by Shah Jehan around 1632-1640 A.D. He also used it for jharokha darshan which was an indispensable a Mughal institution as was 'Durbar'. It is an octagonal building, five external sides of which make a dalan overlooking the river. Each side has pillar and bracket openings, the easternmost side projects forward and accommodates a jharokha majestically. On the western side of this palace is a spacious dalan with Shah-Nasin (alcoves). A shallow water-basin (kunda) is sunk in its pavement. It is profusely inlaid. This dalan opens on a court which has a chabutara projected by a jali screen, on its northern side, a series of rooms leading to Shish Mahal on its western side; and a colonnade (dalan) with a room attached to its on the southern side. It is, thus, a large complex entirely built of white marble. It has deep niches on the walls, to break the monotony. Dados have repetitive stylized creepers inlaid on borders and carved plants on the centre pillars, brackets and lintels also bear exquisitely inlaid designs and it is one of the most ornamented buildings of Shah Jehan. This palace is directly connected to the Diwan-i-Khas, Shish Mahal, Khas Mahal, and other palaces. and it was from here that the Mughal emperor governed the whole country. This burj offers full and majestic view of Taj Mahal and Shah Jehan spent eight years (1658-1666 A.D.) of his imprisonment in this complex, and it is said that he died here. His body was taken by boat to the Taj Mahal and buried.
              <br>
            Shish Mahal (A.D. 1631-40): It was built by Mughal Emperor Shahjahan as a part of summer palace. Its most distinctive feature is glass mosaic work done on its walls and ceiling. These glass pieces have high mirror quality which glittered and twinkled in thousand ways in semi-dark interior. The glass was imported from Haleb of Syria. Shahjahan built glass palace also at Lahore and Delhi, but this is the finest of all..
</p>
              </div>
      <!-- /.blog-post -->
      <h4 id="gall" class="center">GALLERY :</h4>
      <div id="demo" class="carousel slide" data-ride="carousel">
         <ul  class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            <li data-target="#demo" data-slide-to="4"></li>
         </ul>
         <div  class="carousel-inner">
            <div class="carousel-item active">
               <img src="images/agrafort.jpg" alt="" class="img-fluid mx-auto d-block mb-2">
               <div class="carousel-caption">

               </div>
            </div>
            <div class="carousel-item">
               <img src="images/agrafrt.jpg" alt="" class="img-fluid mx-auto d-block mb-2">
               <div class="carousel-caption">
                  <h3>AGRA FORT</h3>

               </div>
            </div>
            <div class="carousel-item">
               <img src="images/agrafort.jpg" alt="New York" width="1100" height="500">
               <div class="carousel-caption">

               </div>
            </div>
            <div class="carousel-item">
               <img src="images/Agra-Fort.jpg" alt="" class="img-fluid mx-auto d-block mb-2">
               <div class="carousel-caption">

               </div>
            </div>

         <a class="carousel-control-prev" href="#demo" data-slide="prev">
         <span class="carousel-control-prev-icon"></span>
         </a>
         <a class="carousel-control-next" href="#demo" data-slide="next">
         <span class="carousel-control-next-icon"></span>
         </a>
      </div>
   </div>
   <!-- /.blog-main -->

   <!-- /.blog-sidebar -->

</div>

<aside class="col-md-4 blog-sidebar">
      <div class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">About</h4>
         <p class="mb-0">Agra Fort is a historical fort in the city of Agra in India. It was the main residence of the emperors of the Mughal Dynasty till 1638, when the capital was shifted from Agra to Delhi. The Agra fort is a UNESCO World Heritage site.It is about 2.5 km northwest of its more famous sister monument, the Taj Mahal. </p>
      </div>
      <div class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">Location</h4>
         <hr>
         <p class="mb-0">
            Uttar Pradesh
            - AGRA
         </p>
      </div>
      <div id="gmap" class="p-3 mb-3 bg-white pc">
         <!--Google map-->
         <div id="map-container-google-3" class="z-depth-1-half map-container-3">
            <iframe src="https://maps.google.com/maps?q=warsaw&amp;t=k&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" style="border:0" allowfullscreen=""></iframe>
         </div>
      </div>
      <div class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">Summary</h4>
         <hr>
         <p class="mb-0">Agra Fort is a historical fort in the city of Agra in India. It was the main residence of the emperors of the Mughal Dynasty till 1638, when the capital was shifted from Agra to Delhi. The Agra fort is a UNESCO World Heritage site.It is about 2.5 km northwest of its more famous sister monument, the Taj Mahal. </p>
      </div>
      <div id="video" class="p-3 mb-3 bg-white pc">
         <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rk1_T7bWw7U?start=48&amp;autoplay=1" allow="autoplay;" allowfullscreen="" __idm_id__="133984257"></iframe>
         </div>
      </div>
      <div id="fac" class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">Fun Fact</h4>
         <hr>
         <p class="mb-0">gra Fort was the symbol of power, strength, and resilience of those times. The fort runs parallel to the Yamuna river and the moat, till date, remains connected to the river. Mighty gates around the fort in its four directions, made it highly impregnable of those times.</p>
      </div>
      <div class="p-3">
         <h4 class="font-italic">Archives</h4>
         <ol class="list-unstyled mb-0">
            <li><a href="#">March 2014</a></li>
            <li><a href="#">February 2014</a></li>
            <li><a href="#">January 2014</a></li>
            <li><a href="#">December 2013</a></li>
            <li><a href="#">November 2013</a></li>
            <li><a href="#">October 2013</a></li>
            <li><a href="#">September 2013</a></li>
            <li><a href="#">August 2013</a></li>
            <li><a href="#">July 2013</a></li>
            <li><a href="#">June 2013</a></li>
            <li><a href="#">May 2013</a></li>
            <li><a href="#">April 2013</a></li>
         </ol>
      </div>
      <div class="p-3">
         <h4 class="font-italic">Elsewhere</h4>
         <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
         </ol>
      </div>
   </aside>
<!-- /.row -->
<%- include("postcard") -%>
<!--COMMENTS WILL BE INCLUDE AFTER THE PROBLEM SOLVE-->
<%- include("footer") -%>
