<%- include("header") -%>
    <div class="container-fluid mt-4">
        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark"
            style="background-image: url(https://source.unsplash.com/random/1600x450/?maqbara); background-size: auto;">
            <div class="col-md-6 px-0">
                <h1 class="display-4 font-italic">Bibi Ka Maqbara</h1>
                <p class="lead my-3">The Bibi Ka Maqbara has a striking resemblance the Taj Mahal but it isn’t as grand
                    as the Taj. It was built by Aurangzeb’s son Azam Khan as a mausoleum for Rabia-ud-Daurani, his
                    mother. The main mausoleum is flanked on all sides by minarets.
                </p>
                <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
            </div>
        </div>
        <h5 class="font-italic" style="text-align:center;">Page Contents</h5>
        <div class="p-3 mb-3 bg-white text-center pc">
            <a href="#rp" s class="btn btn-dark" style="margin:5px;">Read the Post</a>
            <a href="#gall" s class="btn btn-dark" style="margin:5px;">View Gallery</a>
            <a href="#gmap" s class="btn btn-dark" style="margin:5px;">View on Map</a>
            <a href="#video" s class="btn btn-dark" style="margin:5px;">View a Video </a>
            <a href="#fac" s class="btn btn-dark" style="margin:5px;">Facts</a>
            <a href="#comm" s class="btn btn-dark" style="margin:5px;">Write a Comment</a>
        </div>
    </div>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main pc">
                <div id="rp" class="blog-post">
                    <h2 class="blog-post-title">Bibi ka Maqbara</h2>
                    <p class="blog-post-meta">April 16, 2021 by <a href="#">Ankit</a></p>
                    <hr>
                    <p>

                        The comparison to the Taj Mahal has often obscured its very own considerable charm.Due to the strong resemblance, it is also called the Dakkhani Taj (Taj of the Deccan). Bibi Ka Maqbara is the "principal monument" of Aurangabad and its historic city.] An inscription found on the main entrance door mentions that this mausoleum was designed and erected by Ata-ullah, an architect and Hanspat Rai, an engineer respectively. Ata-ullah was the son of Ustad Ahmad Lahauri, the principal designer of the Taj Mahal.Aurangzeb's son, Muhammad Azam Shah was in later years put in charge of overseeing the repair-work of the mausoleum by Shah Jahan.

                        <hr>
                        <!--Google map-->
                    <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus
                        mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere
                        consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
                    <blockquote>
                        <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong>
                            ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </blockquote>
                    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet
                        fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                    <h2>Heading</h2>
                    <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non
                        commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus,
                        porta ac consectetur ac, vestibulum at eros.</p>
                    <h3>Sub-heading</h3>
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    <pre><code>Example code block</code></pre>
                    <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod.
                        Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
                    <h3>Sub-heading</h3>
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean
                        lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce
                        dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit
                        amet risus.</p>
                    <ul>
                        <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
                        <li>Donec id elit non mi porta gravida at eget metus.</li>
                        <li>Nulla vitae elit libero, a pharetra augue.</li>
                    </ul>
                    <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.
                    </p>
                    <ol>
                        <li>Vestibulum id ligula porta felis euismod semper.</li>
                        <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
                        <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
                    </ol>
                    <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
                </div>
                <!-- /.blog-post -->
                <div class="blog-post">
                    <h2 class="blog-post-title">History:</h2>
                    <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>
                    <p>

                        Dilras Banu Begum was born a princess of the prominent Safavid dynasty of Iran (Persia)[13] and was the daughter of Mirza Badi-uz-Zaman Safavi (titled Shahnawaz Khan),[14] who was the viceroy of Gujarat.[15] She married Prince Muhi-ud-din (later known as Aurangzeb upon his accession) on 8 May 1637 in Agra.[16] Dilras was his first wife and chief consort, as well as his favourite.[17]She bore him five children — Zeb-un-Nissa, Zinat-un-Nissa, Zubdat-un-Nissa, Muhammad Azam Shah and Sultan Muhammad Akbar.
                        <br>
                        After giving birth to her fifth child, Muhammad Akbar, Dilras Banu Begum possibly suffered from puerperal fever, due to complications caused by the delivery and died a month after the birth of her son on 8 October 1657. Upon her death, Aurangzeb's pain was extreme and their eldest son, Azam Shah, was so grieved that he had a nervous breakdown.It became Dilras' eldest daughter, Princess Zeb-un-Nissa's responsibility to take charge of her newborn brother. Zeb-un-Nissa doted on her brother a lot, and at the same time, Aurangzeb greatly indulged his motherless son and the prince soon became his best-loved son.
                        <br>
                        In 1660, Aurangzeb commissioned a mausoleum at Aurangabad to act as Dilras' final resting place, known as Bibi Ka Maqbara ("Tomb of the Lady"). Here, Dilras was buried under the posthumous title of 'Rabia-ud-Daurani' ("Rabia of the Age"). In the following years, her tomb was repaired by her son Azam Shah under Aurangzeb's orders. Bibi Ka Maqbara was the largest structure that Aurangzeb had to his credit and bears a striking resemblance to the Taj Mahal, the mausoleum of Dilras' mother-in-law, Empress Mumtaz Mahal, who herself died in childbirth. Aurangzeb, himself, is buried a few kilometers away from her mausoleum in Khuldabad. </p>
                </div>
                <!-- /.blog-post -->
                <div class="blog-post">
                    <h2 class="blog-post-title">Construction</h2>
                    <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

                    <p>

                        Bibi Ka Maqbara is believed to have been built between 1668 and 1669 C.E. According to the "Tarikh Namah" of Ghulam Mustafa, the cost of construction of the mausoleum was Rs. 668,203-7 (rupees six lakh, sixty-eight thousand, two hundred three and seven annas) – Aurangzeb allocated only Rs. 700,000 for its construction. An inscription found on the main entrance door mentions that this mausoleum was designed and erected by Ata-ullah, an architect and Hanspat Rai, an engineer respectively. The marble for this mausoleum was brought from mines near Jaipur. According to Tavernier, around three hundred carts laden with marble, drawn by at least 12 oxen, were seen by him during his journey from Surat to Golconda. The mausoleum was intended to rival the Taj Mahal, but the decline in architecture and proportions of the structure (both due to the severe budgetary constraints imposed by Aurangzeb) had resulted in a poor copy of the latter.

                    </p>
                </div>

                <!-- /.blog-post -->
                <h4 id="gall" class="center">GALLERY :</h4>
                <div id="demo" class="carousel slide" data-ride="carousel">
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                        <li data-target="#demo" data-slide-to="3"></li>
                        <li data-target="#demo" data-slide-to="4"></li>
                    </ul>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="images/Bibi-Ka-Maqbara.jpg" alt="" class="img-fluid mx-auto d-block mb-2">
                            <div class="carousel-caption">

                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="images/Bibi Ka Maqbara Sunset 02.jpg" alt="" class="img-fluid mx-auto d-block mb-2">
                            <div class="carousel-caption">

                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="images/Bibi Ka MAqbara Eastern Face.jpg" alt="" class="img-fluid mx-auto d-block mb-2">
                            <div class="carousel-caption">

                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="images/24498998325_f451c67aae_o.jpg" alt="" class="img-fluid mx-auto d-block mb-2">
                                height="500">
                            <div class="carousel-caption">

                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="images/1536226786_banner_for_maqbara_1024x768.jpg" alt="" class="img-fluid mx-auto d-block mb-2">
                                width="1100" height="500">
                            <div class="carousel-caption">

                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
            <!-- /.blog-main -->
            <aside class="col-md-4 blog-sidebar">
                <div class="p-3 mb-3 bg-white pc">
                    <h4 class="font-italic">About</h4>
                    <p class="mb-0">The Charminar (lit "four minarets") constructed in 1591, is a monument and mosque located in Hyderabad, Telangana, India. The landmark has become known globally as a symbol of Hyderabad and is listed among the most recognized structures in India. ... The Charminar is situated on the east bank of Musi river. </p>
                </div>
                <div class="p-3 mb-3 bg-white pc">
                    <h4 class="font-italic">Location</h4>
                    <hr>
                    <p class="mb-0">
                        Maharashtra
                        -Aurangabad
                    </p>
                </div>
                <div id="gmap" class="p-3 mb-3 bg-white pc">
                    <!--Google map-->
                    <div id="map-container-google-3" class="z-depth-1-half map-container-3">
                        <iframe src="https://maps.google.com/maps?q=warsaw&t=k&z=13&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="p-3 mb-3 bg-white pc">
                    <h4 class="font-italic">Summary</h4>
                    <hr>
                    <p class="mb-0">Built in 1668 the Tomb of Rabia Durani or Bibi Ka Maqbara was erected by Azam Shah, the son of Aurangzeb to commemorate his mother Dilras Begum who was titled Rabia Durani post her death. Being the spitting image of the Taj Mahal, the mausoleum is also called the Taj of the Deccan or the Dakkhani Taj.</p>
                </div>
                <div id="video" class="p-3 mb-3 bg-white pc">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item"
                            src="https://www.youtube.com/embed/0HqxHe4BxrU?start=48&autoplay=1" allow="autoplay;"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <div id="fac" class="p-3 mb-3 bg-white pc">
                    <h4 class="font-italic">Fun Fact</h4>
                    <hr>
                    <p class="mb-0">The Bibi Ka Maqbara is a tomb located in Aurangabad, Maharashtra, India. It was commissioned in 1660 by the Mughal emperor Aurangzeb in the memory of his first and chief wife Dilras Banu Begum and is considered to be a symbol of Aurangzeb's 'conjugal fidelity'. </p>
                </div>
                <div class="p-3">
                    <h4 class="font-italic">Archives</h4>
                    <ol class="list-unstyled mb-0">
                        <li><a href="#">March 2014</a></li>
                        <li><a href="#">February 2014</a></li>
                        <li><a href="#">January 2014</a></li>
                        <li><a href="#">December 2013</a></li>
                        <li><a href="#">November 2013</a></li>
                        <li><a href="#">October 2013</a></li>
                        <li><a href="#">September 2013</a></li>
                        <li><a href="#">August 2013</a></li>
                        <li><a href="#">July 2013</a></li>
                        <li><a href="#">June 2013</a></li>
                        <li><a href="#">May 2013</a></li>
                        <li><a href="#">April 2013</a></li>
                    </ol>
                </div>
                <div class="p-3">
                    <h4 class="font-italic">Elsewhere</h4>
                    <ol class="list-unstyled">
                        <li><a href="#">GitHub</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                    </ol>
                </div>
            </aside>
            <!-- /.blog-sidebar -->
        </div>
        <!-- /.row -->
        <%- include("postcard") -%>
            <!--COMMENTS WILL BE INCLUDE AFTER THE PROBLEM SOLVE-->
            <%- include("footer") -%>
