<!------------------------------------------------------------Slide Show  ------------------------------------------------------------------------>
<div class="row  bg-dark mb-5">
   <div id="carouselExampleIndicators" class=" carousel slide  " data-ride="carousel">
      <ol class="carousel-indicators">
         <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
         <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
         <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
         <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
         <div class="carousel-item active ">
            <img class="d-block w-100" src="https://source.unsplash.com/collection/3575640/1920x550?1" alt="First slide">
            <div class="carousel-caption d-none d-sm-block text-center mb-5">
               <h1 class="display-2">WELCOME TO INDIAN HISTORY</h1>
               <a href="#jump" class="btn btn-warning btn-lg">Click Here to get Started</a>
            </div>
            <div class="carousel-caption d-xs-block d-md-none">
               <h2 class="display-3">WELCOME TO Indian History</h2>
            </div>
         </div>
         <div class="carousel-item ">
            <a href="tajmahal.ejs"> <img class="d-block w-100" src="https://source.unsplash.com/collection/3575640/1920x550?2" alt="First slide"></a>
            <div class="carousel-caption d-none d-md-block">
               <h5>INDIAN HISTORY</h5>
               <p>Learn Indian history with our great interactive timeline panel</p>
            </div>
         </div>
         <div class="carousel-item">
            <a href="burger.html"><img class="d-block w-100 " src="https://source.unsplash.com/collection/3575640/1920x550?0" alt="Second slide"></a>
            <div class="carousel-caption d-none d-md-block">
               <h5>Know what our ancestors built !</h5>
               <p>Ancestors</p>
            </div>
         </div>
         <div class="carousel-item">
            <a href="drinks.html"> <img class="d-block w-100" src="https://source.unsplash.com/collection/3575640/1920x550?3" alt="Third slide"></a>
            <div class="carousel-caption d-none d-md-block">
               <h5>How India became the mega power in the world through monuments</h5>
               <p>?</p>
            </div>
         </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
      </a>
   </div>
</div>
