<%- include("header") -%>
<div class="container-fluid mt-4">
   <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image: url(https://source.unsplash.com/random/1600x450/?charminar); background-size: auto;">
      <div class="col-md-6 px-0">
         <h1 class="display-4 font-italic">CHARMINAR</h1>
         <p class="lead my-3">
            Built by Mohammed Quli Qutb Shah, the Charminar is the landmark monument in Hyderabad. A symbol of brilliance, the Charminar is decorated with minarets and four cardinal points.
            </p>
         <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
      </div>
   </div>
   <h5 class="font-italic" style="text-align:center;">Page Contents</h5>
   <div class="p-3 mb-3 bg-white text-center pc">
      <a href="#rp" s class="btn btn-dark" style="margin:5px;">Read the Post</a>
      <a href="#gall" s class="btn btn-dark" style="margin:5px;">View Gallery</a>
      <a href="#gmap" s class="btn btn-dark" style="margin:5px;">View on Map</a>
      <a href="#video" s class="btn btn-dark" style="margin:5px;">View a Video </a>
      <a href="#fac" s class="btn btn-dark" style="margin:5px;">Facts</a>
      <a href="#comm" s class="btn btn-dark" style="margin:5px;">Write a Comment</a>
   </div>
</div>
<main role="main" class="container">
<div class="row">
   <div class="col-md-8 blog-main pc">
      <div id="rp" class="blog-post">
         <h2 class="blog-post-title">CHARMINAR</h2>
         <p class="blog-post-meta">April 16, 2021 by <a href="#">Ankit</a></p>
         <hr>
         <p>

            The Charminar is situated on the east bank of Musi river. To the west lies the Laad Bazaar, and to the southwest lies the richly ornamented granite Makkah Masjid. It is listed as an archaeological and architectural treasure on the official "List of Monuments" prepared by the Archaeological Survey of India. The English name is a translation and combination of the Urdu words chār and minar or meenar, translating to "Four Pillars"; the eponymous towers are ornate minarets attached and supported by four grand arches.




         <hr>
         <!--Google map-->
         <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
         <blockquote>
            <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
         </blockquote>
         <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
         <h2>Heading</h2>
         <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
         <h3>Sub-heading</h3>
         <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
         <pre><code>Example code block</code></pre>
         <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
         <h3>Sub-heading</h3>
         <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
         <ul>
            <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
            <li>Donec id elit non mi porta gravida at eget metus.</li>
            <li>Nulla vitae elit libero, a pharetra augue.</li>
         </ul>
         <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
         <ol>
            <li>Vestibulum id ligula porta felis euismod semper.</li>
            <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
            <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
         </ol>
         <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
      </div>
      <!-- /.blog-post -->
      <div class="blog-post">
         <h2 class="blog-post-title">History:</h2>
         <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>
         <p>
            The fifth ruler of the Qutb Shahi dynasty, Muhammad Quli Qutb Shah, built the Charminar in 1591 after shifting his capital from Golkonda to the newly formed city of Hyderabad.
            <br>
            <br>
            Charminar, Char Kaman and Gulzar Houz, photographed by Lala Deen Dayal in the 1880s
            The Archaeological Survey of India (ASI), the current caretaker of the structure, mentions in its records, "There are various theories regarding the purpose for which Charminar was constructed. However, it is widely accepted that Charminar was built at the centre of the city, to commemorate the eradication of plague", a deadly disease which was wide spread at that time. According to Jean de Thévenot, a French traveller of the 17th century whose narration was complemented with the available Persian texts, the Charminar was constructed in the year 1591 CE, to commemorate the beginning of the second Islamic millennium year (1000 AH). The event was celebrated far and wide in the Islamic world, thus Qutb Shah founded the city of Hyderabad to celebrate the event and commemorate it with the construction of this building.17–19Due to its architecture it is also called as Arc de Triomphe of the east.
            <br><br>
            The Charminar was constructed at the intersection of the historical trade route that connects the city to international markets through the port city of Machilipatnam.The Old City of Hyderabad was designed with Charminar as its centerpiece.The city was spread around the Charminar in four different quadrants and chambers, segregated according to the established settlements. Towards the north of Charminar is the Char Kaman, or four gateways, constructed in the cardinal direction. Additional eminent architects from Persia were also invited to develop the city plan. The structure itself was intended to serve as a Mosque and Madarsa. It is of Indo-Islamic architecture style, incorporating Persian architectural elements.
            <br><br>
            Historian Masud Hussain Khan says that the construction of Charminar was completed in the year 1592, and that it is the city of Hyderabad which was actually founded in the year 1591.[17]:4 According to the book "Days of the Beloved", Qutb shah constructed the Charminar in the year 1589, on the very spot where he first glimpsed his future queen Bhagmati, and after her conversion to Islam, Qutb Shah renamed the city as "Hyderabad". Though the story was rejected by the historians and scholars, it became popular folklore among the locals.
        </p>
      </div>
      <!-- /.blog-post -->
      <div class="blog-post">
         <h2 class="blog-post-title">Dakhini couplets</h2>
         <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

          <p>
            Qutb Shah was also among the early poets of Dakhani Urdu. While laying the foundation of Charminar, he performed the prayers in Dakhini couplets, which are recorded as follows:

Dakhini Urdu <br>
میرا شہر لوگوں سے مامور کر<br>
راكهيو جوتو دريا میں مچھلی جيسے
<br><br>
Translation into Telugu<br>
నదిలో చేపలని ఎలా నింపావో<br>
ఈ నగరాన్ని కూడా అలా నింపు దేవుడా<br><br>

Translation into English<br>
Fill this city of mine with people as,<br>
You filled the river with fishes O Lord.<br><br>

Hunterian Transliteration<br>
Mere shahr logon se mamoor kar,<br>
Rakhiyo joto darya mein machhli jaise.<br><br>

Translation into Hindi<br>
मेरा शहर लोगों के मामूर कर,<br>
राख्यों जो तो दरया में मछली जैसी<br>
          </p>
</div>
        <!-- /.blog-post -->
        <div class="blog-post">
           <h2 class="blog-post-title">Extras</h2>
           <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

            <p>
                During the Mughal governorship between Qutb Shahi and Asaf Jahi rule, the southwestern minaret "fell to pieces" after being struck by lightning and was repaired at a cost of Rs. 60,000.[20] In 1824, the monument was replastered at a cost of Rs. One lakh.
            </p>
              </div>
      <!-- /.blog-post -->
      <h4 id="gall" class="center">GALLERY :</h4>
      <div id="demo" class="carousel slide" data-ride="carousel">
         <ul  class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            <li data-target="#demo" data-slide-to="4"></li>
         </ul>
         <div  class="carousel-inner">
            <div class="carousel-item active">
               <img src="https://source.unsplash.com/random/1920x1080/?charminar2" alt="Los Angeles" width="1100" height="500">
               <div class="carousel-caption">

               </div>
            </div>
            <div class="carousel-item">
               <img src="https://source.unsplash.com/random/1920x1080/?charminar3" alt="Chicago" width="1100" height="500">
               <div class="carousel-caption">

               </div>
            </div>
            <div class="carousel-item">
               <img src="https://source.unsplash.com/random/1920x1080/?charminar5" alt="New York" width="1100" height="500">
               <div class="carousel-caption">

               </div>
            </div>
            <div class="carousel-item">
               <img src="https://source.unsplash.com/random/1920x1080/?charminar4" alt="Chicago" width="1100" height="500">
               <div class="carousel-caption">

               </div>
            </div>
            <div class="carousel-item">
               <img src="https://source.unsplash.com/random/1920x1080/?charminar6" alt="Chicago" width="1100" height="500">
               <div class="carousel-caption">

               </div>
            </div>
         </div>
         <a class="carousel-control-prev" href="#demo" data-slide="prev">
         <span class="carousel-control-prev-icon"></span>
         </a>
         <a class="carousel-control-next" href="#demo" data-slide="next">
         <span class="carousel-control-next-icon"></span>
         </a>
      </div>
   </div>
   <!-- /.blog-main -->
   <aside class="col-md-4 blog-sidebar">
      <div class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">About</h4>
         <p class="mb-0">The Charminar (lit "four minarets") constructed in 1591, is a monument and mosque located in Hyderabad, Telangana, India. The landmark has become known globally as a symbol of Hyderabad and is listed among the most recognized structures in India. ... The Charminar is situated on the east bank of Musi river.</em> </p>
      </div>
      <div class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">Location</h4>
         <hr>
         <p class="mb-0">
           Hyderabad <br>
           -India
         </p>
      </div>
      <div id="gmap" class="p-3 mb-3 bg-white pc">
         <!--Google map-->
         <div id="map-container-google-3" class="z-depth-1-half map-container-3">
            <iframe src="https://maps.google.com/maps?q=warsaw&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
               style="border:0" allowfullscreen></iframe>
         </div>
      </div>
      <div class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">Summary</h4>
         <hr>
         <p class="mb-0">The Charminar is a monument and mosque in Hyderabad, India. The structure was built in 1591 AD. It is the most famous building of Hyderabad and also one of the most famous buildings in India. It was built by Muhammad Quli Qutb Shahi to celebrate the end of a deadly plague.</p>
      </div>
      <div id="video" class="p-3 mb-3 bg-white pc">
         <div  class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kIAv1otOvUQ?start=48&autoplay=1" allow="autoplay;" allowfullscreen></iframe>
         </div>
      </div>
      <div id="fac" class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">Fun Fact</h4>
         <hr>
         <p class="mb-0"> The city was planned on a grid iron-pattern, with the iconic Charminar as the focal point. The design had two roads running east-west and north-south, which makes the structure the centre of the city. The historical age of this monument is more than 450 years, which makes Charminar one of the oldest monuments in India.</p>
      </div>
      <div class="p-3">
         <h4 class="font-italic">Archives</h4>
         <ol class="list-unstyled mb-0">
            <li><a href="#">March 2014</a></li>
            <li><a href="#">February 2014</a></li>
            <li><a href="#">January 2014</a></li>
            <li><a href="#">December 2013</a></li>
            <li><a href="#">November 2013</a></li>
            <li><a href="#">October 2013</a></li>
            <li><a href="#">September 2013</a></li>
            <li><a href="#">August 2013</a></li>
            <li><a href="#">July 2013</a></li>
            <li><a href="#">June 2013</a></li>
            <li><a href="#">May 2013</a></li>
            <li><a href="#">April 2013</a></li>
         </ol>
      </div>
      <div class="p-3">
         <h4 class="font-italic">Elsewhere</h4>
         <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
         </ol>
      </div>
   </aside>
   <!-- /.blog-sidebar -->
</div>
<!-- /.row -->
<%- include("postcard") -%>
<!--COMMENTS WILL BE INCLUDE AFTER THE PROBLEM SOLVE-->
<%- include("footer") -%>
