<%- include("header") -%>
<section id="contact" class="py-3">
   <div class="container">
      <div class="row">
         <div class="col-md-4">
            <div class="card p-4">
               <div class="card-body">
                  <h4>Get In Touch</h4>
                  <p>Feel free to contact us anytime.</p>
                  <h4>Address</h4>
                  <p>550 Main st, Bhubaneswar</p>
                  <h4>Email</h4>
                  <p>indiahistory@kiit.com</p>
                  <h4>Phone</h4>
                  <p>(+91) 9875424142</p>
               </div>
            </div>
         </div>
         <div class="col-md-8">
            <div class="card p-4">
               <div class="card-body">
                  <h3 class="text-center">Please fill out this form to contact us</h3>
                  <hr>
                  <div class="row">
                     <div class="col-md-6">
                        <div class="form-group">
                           <input type="text" class="form-control" placeholder="First Name">
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-group">
                           <input type="text" class="form-control" placeholder="Last Name">
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-group">
                           <input type="text" class="form-control" placeholder="Email">
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="form-group">
                           <input type="text" class="form-control" placeholder="Phone Number">
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-12">
                        <div class="form-group">
                           <textarea class="form-control" placeholder="Message"></textarea>
                        </div>
                     </div>
                     <div class="col-md-12">
                        <div class="form-group">
                           <input type="submit" value="Submit" class="btn btn-warning btn-block">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<%- include("footer") -%>
