<%- include("header") -%>
<div class="container-fluid mt-4">
   <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image: url(https://source.unsplash.com/random/1600x450/?fatehpur); background-size: auto;">
      <div class="col-md-6 px-0">
         <h1 class="display-4 font-italic">FATEHPUR SIKRI</h1>
         <p class="lead my-3">Fatehpur Sikri has the tag of being the first planned city of the Mughal Empire. The city is home to some very beautiful mosques and palaces. These are not just magnificent to see, they are also marvellous pieces of architecture.
        </p>
         <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
      </div>
   </div>
   <h5 class="font-italic" style="text-align:center;">Page Contents</h5>
   <div class="p-3 mb-3 bg-white text-center pc">
      <a href="#rp" s class="btn btn-dark" style="margin:5px;">Read the Post</a>
      <a href="#gall" s class="btn btn-dark" style="margin:5px;">View Gallery</a>
      <a href="#gmap" s class="btn btn-dark" style="margin:5px;">View on Map</a>
      <a href="#video" s class="btn btn-dark" style="margin:5px;">View a Video </a>
      <a href="#fac" s class="btn btn-dark" style="margin:5px;">Facts</a>
      <a href="#comm" s class="btn btn-dark" style="margin:5px;">Write a Comment</a>
   </div>
</div>
<main role="main" class="container">
<div class="row">
   <div class="col-md-8 blog-main pc">
      <div id="rp" class="blog-post">
         <h2 class="blog-post-title">FATEHPUR SIKRI</h2>
         <p class="blog-post-meta">April 16, 2021 by <a href="#">Ankit</a></p>
         <hr>
         <p>


            Archaeological evidence points to settlement of the region since the Painted Grey Ware period. According to historian Syed Ali Nadeem Rezavi, the region flourished under Sunga rule and then under Sikarwar Rajputs, who built a fortress when they controlled the area briefly in the 12th century. The area later came under the rule of the Delhi Sultanate and many mosques were built at the place which grew in size during the period of the Khalji dynasty.





         <hr>
         <!--Google map-->
         <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
         <blockquote>
            <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
         </blockquote>
         <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
         <h2>Heading</h2>
         <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
         <h3>Sub-heading</h3>
         <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
         <pre><code>Example code block</code></pre>
         <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
         <h3>Sub-heading</h3>
         <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
         <ul>
            <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
            <li>Donec id elit non mi porta gravida at eget metus.</li>
            <li>Nulla vitae elit libero, a pharetra augue.</li>
         </ul>
         <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
         <ol>
            <li>Vestibulum id ligula porta felis euismod semper.</li>
            <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
            <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
         </ol>
         <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
      </div>
      <!-- /.blog-post -->
      <div class="blog-post">
         <h2 class="blog-post-title">History:</h2>
         <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>
         <p>
            Basing his arguments on the excavations by the Archaeological Survey of India (ASI) in 1999–2000 at the Chabeli Tila, senior Agra journalist Bhanu Pratap Singh said the antique pieces, statues, and structures all point to a lost "culture and religious site," more than 1,000 years ago. "The excavations yielded a rich crop of Jain statues, hundreds of them, including the foundation stone of a temple with the date. The statues were a thousand years old of Bhagwan Adi Nath, Bhagwan Rishabh Nath, Bhagwan Mahavir and Jain Yakshinis," said Swarup Chandra Jain, senior leader of the Jain community. Historian Sugam Anand states that there is proof of habitation, temples and commercial centres before Akbar established it as his capital. He states that the open space on a ridge was used by Akbar to build his capital.
<br><br>
            But preceding Akbar's appropriation of the site for his capital city, his predecessors Babur and Humayun did much to redesign Fatehpur Sikri's urban layout.[9] Attilio Petruccioli, a scholar of Islamic architecture and Professor of Landscape Architecture at the Polytechnic University of Bari, Italy, notes that "Babur and his successors" wanted "to get away from the noise and confusion of Agra [and] build an uninterrupted sequence of gardens on the free left bank of the Yamuna, linked both by boat and by land." Petruccioli adds that when such escapist landscapes are envisioned, the monument becomes the organizing element of the city at large, partly due to its orientation at a significant location and partly due to its sheer size. Humayun's Tomb was one such organizing element, which at a height of 150 feet towered over the city and is now one of the most recognizable Mughal monuments in the country.
            <br><br>
            The place was much loved by Babur, who called it Shukri ("Thanks"), after its large lake that was used by Mughal armies.[10] Annette Beveridge in her translation of Baburnama noted that Babur points "Sikri" to read "Shukri". Per his memoirs, Babur constructed a garden here called the "Garden of Victory" after defeating Rana Sangha at its outskirts. Gulbadan Begum's Humayun-Nama describes that in the garden he built an octagonal pavilion which he used for relaxation and writing. In the center of the nearby lake, he built a large platform. A baoli exists at the base of a rock scarp about a kilometer from the Hiran Minar. This was probably the original site of a well-known epigraph commemorating his victory.
            <br><br>
            Abul Fazl records Akbar's reasons for the foundation of the city in Akbarnama: "Inasmuch as his exalted sons (Salim and Murad) had been born at Sikri, and the God-knowing spirit of Shaikh Salim had taken possession thereof, his holy heart desired to give outward splendour to this spot which possessed spiritual grandeur. Now that his standards had arrived at this place, his former design was pressed forward, and an order was issued that the superintendents of affairs should erect lofty buildings for the special use of the Shahinshah."
            <br><br>
            Akbar remained heirless until 1569 when his son, who became known as Jahangir, was born in the village of Sikri in 1569. Akbar began the construction of a religious compound in honor of the Chisti saint Sheikh Salim, who had predicted the birth of Jahangir. After Jahangir's second birthday, he began the construction of a walled city and imperial palace probably to test his son's stamina. By constructing his capital at the khanqah of Sheikh Salim, Akbar associated himself with this popular Sufi order and brought legitimacy to his reign through this affiliation.
         </p>
      </div>
      <!-- /.blog-post -->
      <div class="blog-post">
         <h2 class="blog-post-title">Architecture</h2>
         <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

          <p>

            Fatehpur Sikri sits on rocky ridge, 3 kilometres (1.9 mi) in length and 1 km (0.62 mi) wide and palace city is surrounded by a 6 km (3.7 mi) wall on three sides with the fourth bordered by a lake. The city is generally organized around this 40 m high ridge, and falls roughly into the shape of a rhombus. The general layout of the ground structures, especially the "continuous and compact pattern of gardens and services and facilities" that characterized the city leads urban archaeologists to conclude that Fatehpur Sikri was built primarily to afford leisure and luxury to its famous residents.
            <br><br>
            The dynastic architecture of Fatehpur Sikri was modelled on Timurid forms and styles.[22] The city was built massively and preferably with red sandstone.[23] Gujarati influences are also seen in its architectural vocabulary and decor of the palaces of Fatehpur Sikri.[24] The city's architecture reflects both the Hindu and Muslim form of domestic architecture popular in India at the time.[25] The remarkable preservation of these original spaces allows modern archaeologists to reconstruct scenes of Mughal court life, and to better understand the hierarchy of the city's royal and noble residents.
            <br> <br>
            It is accessed through gates along the 5 miles (8.0 km) long fort wall, namely, Delhi Gate, the Lal Gate, the Agra Gate and Birbal's Gate, Chandanpal Gate, The Gwalior Gate, the Tehra Gate, the Chor Gate, and the Ajmeri Gate. The palace contains summer palace and winter palace for Queen Jodha.</p>
</div>
<div class="blog-post">
    <h2 class="blog-post-title">Important Buildings</h2>
    <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

     <p>
        Buland Darwaza: Set into the south wall of congregational mosque, the Buland Darwaza at Fatehpur Sikri is 55 metres (180 ft) high, from the ground, gradually making a transition to a human scale in the inside. The gate was added around five years after the completion of the mosque c. 1576-1577 as a victory arch, to commemorate Akbar's successful Gujarat campaign. It carries two inscriptions in the archway, one of which reads: "Isa, Son of Mariam said: The world is a bridge, pass over it, but build no houses on it. He who hopes for an hour may hope for eternity. The world endures but an hour. Spend it in prayer, for the rest is unseen".
        <br><br>
        The central portico comprises three arched entrances, with the largest one, in the centre, is known locally as the Horseshoe Gate, after the custom of nailing horseshoes to its large wooden doors for luck. Outside the giant steps of the Buland Darwaza to the left is a deep well.
        Jama Masjid: It is a Jama Mosque meaning the congregational mosque and was perhaps one of the first buildings to be constructed in the complex, as its epigraph gives AH 979 (A.D. 1571–72) as the date of its completion, with a massive entrance to the courtyard, the Buland-Darwaza added some five years later. It was built in the manner of Indian mosques, with iwans around a central courtyard. A distinguishing feature is the row of chhatri over the sanctuary. There are three mihrabs in each of the seven bays, while the large central mihrab is covered by a dome, it is decorated with white marble inlay, in geometric patterns.
        <br><br>
        Tomb of Salim Chishti: A white marble encased tomb of the Sufi saint, Salim Chisti (1478–1572), within the Jama Masjid's sahn, courtyard. The single-storey structure is built around a central square chamber, within which is the grave of the saint, under an ornate wooden canopy encrusted with mother-of-pearl mosaic. Surrounding it is a covered passageway for circumambulation, with carved Jalis, stone pierced screens all around with intricate geometric design and an entrance to the south. The tomb is influenced by earlier mausolea of the early 15th century Gujarat Sultanate period. Other striking features of the tomb are white marble serpentine brackets, which support sloping eaves around the parapet.
        On the left of the tomb, to the east, stands a red sandstone tomb of Islam Khan I, son of Shaikh Badruddin Chisti and grandson of Shaikh Salim Chishti, who became a general in the Mughal army in the reign of Jahangir. The tomb is topped by a dome and thirty-six small domed chattris and contains a number of graves, some unnamed, all male descendants of Shaikh Salim Chisti.
        Diwan-i-Aam: Diwan-i-Aam or Hall of Public Audience, is a building typology found in many cities where the ruler meets the general public. In this case, it is a pavilion-like multi-bayed rectangular structure fronting a large open space. South west of the Diwan-i-Am and next to the Turkic Sultana's House stand Turkic Baths.
        <br><br>
        Diwan-i-Khas: the Diwan-i-Khas or Hall of Private Audience, is a plain square building with four chhatris on the roof. However it is famous for its central pillar, which has a square base and an octagonal shaft, both carved with bands of geometric and floral designs, further its thirty-six serpentine brackets support a circular platform for Akbar, which is connected to each corner of the building on the first floor, by four stone walkways. It is here that Akbar had representatives of different religions discuss their faiths and gave private audience.
        <br><br>
        Ibadat Khana: (House of Worship) was a meeting house built in 1575 CE by the Mughal Emperor Akbar, where the foundations of a new Syncretistic faith, Din-e-Ilahi were laid by Akbar.
        <br><br>
        Anup Talao: Anup Talao was built by Raja Anup Singh Sikarwar A ornamental pool with a central platform and four bridges leading up to it. Some of the important buildings of the royal enclave are surround by it including, Khwabgah (House of Dreams) Akbar's residence, Panch Mahal, a five-storey palace, Diwan-i-Khas(Hall of Private Audience), Ankh Michauli and the Astrologer's Seat, in the south-west corner of the Pachisi Court.
        Hujra-i-Anup Talao: Said to be the residence of Akbar's Muslim wife, although this is disputed due to its small size.
        <br><br>
        Mariam-uz-Zamani's Palace: The building of Akbar's Rajput wives, including Mariam-uz-Zamani, shows Gujarati influence and is built around a courtyard, with special care being taken to ensure privacy.
        <br><br>
        Naubat Khana: Also known as Naqqar Khana meaning a drum house, where musician used drums to announce the arrival of the Emperor. It is situated ahead of the Hathi Pol Gate or the Elephant Gate, the south entrance to the complex, suggesting that it was the imperial entrance.
        <br><br>
        Pachisi Court: A square marked out as a large board game, the precursor to modern day Ludo game where people served as the playing pieces.
        <br><br>
        Panch Mahal: A five-storied palatial structure, with the tiers gradually diminishing in size, till the final one, which is a single large-domed chhatri. Originally pierced stone screens faced the facade and probably sub-divided the interior as well, suggesting it was built for the ladies of the court. The floors are supported by intricately carved columns on each level, totalling to 176 columns in all.
        <br><br>
        Birbal's House: The house of Akbar's favourite minister, who was a Hindu. Notable features of the building are the horizontal sloping sunshades or chajjas and the brackets which support them.
        <br><br>
        Hiran Minar: The Hiran Minar, or Elephant Tower, is a circular tower covered with stone projections in the form of elephant tusks. Traditionally it was thought to have been erected as a memorial to the Emperor Akbar's favourite elephant. However, it was probably a used as a starting point for subsequent mileposts.
        Other buildings included Taksal (mint), Daftar Khana (Records Office), Karkhana (royal workshop), Khazana (Treasury), Hammam (Turkic Baths), Darogha's quarters, stables, caravanserai, Hakim's quarters, etc.



</div>
        <!-- /.blog-post -->
        <div class="blog-post">
           <h2 class="blog-post-title">Extras</h2>
           <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

            <p>
                The city was founded in 1571 and was named after the village of Sikri which occupied the spot before. The Buland Darwaza was built in honor of his successful campaign in Gujarat, when the city came to be known as Fatehpur Sikri - "The City of Victory". It was abandoned by Akbar in 1585 when he went to fight a campaign in Punjab. It was later completely abandoned by 1610. The reason for its abandonment is usually given as the failure of the water supply, though Akbar's loss of interest may also have been the reason since it was built solely on his whim.[14] Ralph Fitch described it as such, "Agra and Fatehpore Sikri are two very great cities, either of them much greater than London, and very populous. Between Agra and Fatehpore are 12 miles (Kos) and all the way is a market of victuals and other things, as full as though a man were still in a town, and so many people as if a man were in a market."
                <br><br>
                Akbar visited the city only once in 1601 after abandoning it. William Finch, visiting it 4–5 years after his death, stated, "It is all ruinate," writing, "lying like a waste desert."[16] During the epidemic of bubonic plague from 1616 to 1624, Jahangir stayed for three months here in 1619.[17] Muhammad Shah stayed here for some time and the repair works were started again. However, with the decline of Mughal Empire, the conditions of the buildings worsened.</p>
              </div>
      <!-- /.blog-post -->
      <h4 id="gall" class="center">GALLERY :</h4>
      <div id="demo" class="carousel slide" data-ride="carousel">
         <ul  class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            <li data-target="#demo" data-slide-to="4"></li>
         </ul>
         <div  class="carousel-inner">
            <div class="carousel-item active">
               <img src="https://source.unsplash.com/random/1920x1080/?fatehpursikri" alt="Los Angeles" width="1100" height="500">
               <div class="carousel-caption">
                  <h3>Los Angeles</h3>
                  <p>We had such a great time in LA!</p>
               </div>
            </div>
            <div class="carousel-item">
               <img src="https://source.unsplash.com/random/1920x1080/?fatehpursikri" alt="Chicago" width="1100" height="500">
               <div class="carousel-caption">
                  <h3>Chicago</h3>
                  <p>Thank you, Chicago!</p>
               </div>
            </div>
            <div class="carousel-item">
               <img src="https://source.unsplash.com/random/1920x1080/?fatehpursikri" alt="New York" width="1100" height="500">
               <div class="carousel-caption">
                  <h3>New York</h3>
                  <p>We love the Big Apple!</p>
               </div>
            </div>
            <div class="carousel-item">
               <img src="https://source.unsplash.com/random/1920x1080/?fatehpursikri" alt="Chicago" width="1100" height="500">
               <div class="carousel-caption">
                  <h3>Chicago</h3>
                  <p>Thank you, Chicago!</p>
               </div>
            </div>
            <div class="carousel-item">
               <img src="https://source.unsplash.com/random/1920x1080/?fatehpursikri" alt="Chicago" width="1100" height="500">
               <div class="carousel-caption">
                  <h3>Chicago</h3>
                  <p>Thank you, Chicago!</p>
               </div>
            </div>
         </div>
         <a class="carousel-control-prev" href="#demo" data-slide="prev">
         <span class="carousel-control-prev-icon"></span>
         </a>
         <a class="carousel-control-next" href="#demo" data-slide="next">
         <span class="carousel-control-next-icon"></span>
         </a>
      </div>
   </div>
   <!-- /.blog-main -->
   <aside class="col-md-4 blog-sidebar">
      <div class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">About</h4>
         <p class="mb-0">Fatehpur Sikri is a town in the Agra District of Uttar Pradesh, India. The city itself was founded as the capital of Mughal Empire in 1571 by Emperor Akbar, serving this role from 1571 to 1585, when Akbar abandoned it due to a campaign in Punjab and was later completely abandoned in 1610.</p>
      </div>
      <div class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">Location</h4>
         <hr>
         <p class="mb-0">
            Uttar Pradesh
            - AGRA
         </p>
      </div>
      <div id="gmap" class="p-3 mb-3 bg-white pc">
         <!--Google map-->
         <div id="map-container-google-3" class="z-depth-1-half map-container-3">
            <iframe src="https://maps.google.com/maps?q=warsaw&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
               style="border:0" allowfullscreen></iframe>
         </div>
      </div>
      <div class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">Summary</h4>
         <hr>
         <p class="mb-0">Fatehpur Sikri is located in Agra District in the State of Uttar Pradesh in northern India. It was constructed southeast of an artificial lake, on the slopping levels of the outcrops of the Vindhyan hill ranges. Known as the “city of victory”, it was made capital by the Mughal emperor Akbar </p>
      </div>
      <div id="video" class="p-3 mb-3 bg-white pc">
         <div  class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fmkSpCF01gg?start=48&autoplay=1" allow="autoplay;" allowfullscreen></iframe>
         </div>
      </div>
      <div id="fac" class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">Fun Fact</h4>
         <hr>
         <p class="mb-0">Facts about Fatehpur Sikhri: Fatehpur Sikri is a city in the Agra District of Uttar Pradesh. Akbar gave it the name of Fathabad and which in later days known as “Fathpur Sikri” Agra served as the capital of the Mughal Empire from 1571 to 1585.</p>
      </div>
      <div class="p-3">
         <h4 class="font-italic">Archives</h4>
         <ol class="list-unstyled mb-0">
            <li><a href="#">March 2014</a></li>
            <li><a href="#">February 2014</a></li>
            <li><a href="#">January 2014</a></li>
            <li><a href="#">December 2013</a></li>
            <li><a href="#">November 2013</a></li>
            <li><a href="#">October 2013</a></li>
            <li><a href="#">September 2013</a></li>
            <li><a href="#">August 2013</a></li>
            <li><a href="#">July 2013</a></li>
            <li><a href="#">June 2013</a></li>
            <li><a href="#">May 2013</a></li>
            <li><a href="#">April 2013</a></li>
         </ol>
      </div>
      <div class="p-3">
         <h4 class="font-italic">Elsewhere</h4>
         <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
         </ol>
      </div>
   </aside>
   <!-- /.blog-sidebar -->
</div>
<!-- /.row -->
<%- include("postcard") -%>
<!--COMMENTS WILL BE INCLUDE AFTER THE PROBLEM SOLVE-->
<%- include("footer") -%>
