<%- include("header") -%>
<div class="container-fluid mt-4">
   <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image: url(https://source.unsplash.com/random/1600x450/?gatewayofindia); background-size: auto;">
      <div class="col-md-6 px-0">
         <h1 class="display-4 font-italic">GATEWAY OF INDIA</h1>
         <p class="lead my-3">Located at the tip of Apollo Bunder in southern Mumbai, the Gateway of India was built by the British Empire that once ruled India. The arched gateway was built to welcome King George V to India.</p>
         <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
      </div>
   </div>
   <h5 class="font-italic" style="text-align:center;">Page Contents</h5>
   <div class="p-3 mb-3 bg-white text-center pc">
      <a href="#rp" s class="btn btn-dark" style="margin:5px;">Read the Post</a>
      <a href="#gall" s class="btn btn-dark" style="margin:5px;">View Gallery</a>
      <a href="#gmap" s class="btn btn-dark" style="margin:5px;">View on Map</a>
      <a href="#video" s class="btn btn-dark" style="margin:5px;">View a Video </a>
      <a href="#fac" s class="btn btn-dark" style="margin:5px;">Facts</a>
      <a href="#comm" s class="btn btn-dark" style="margin:5px;">Write a Comment</a>
   </div>
</div>
<main role="main" class="container">
<div class="row">
   <div class="col-md-8 blog-main pc">
      <div id="rp" class="blog-post">
         <h2 class="blog-post-title">Gateway of India</h2>
         <p class="blog-post-meta">April 16, 2021 by <a href="#">Ankit</a></p>
         <hr>
         <p>The structure uses a combination of Indian and Islamic architecture that is awesome to see. The Gateway of India offers excellent views of the neighbouring Taj Mahal and the Arabian Sea. It is also a great spot for people watching.
        <hr>
         <!--Google map-->
         <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
         <blockquote>
            <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
         </blockquote>
         <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
         <h2>Heading</h2>
         <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
         <h3>Sub-heading</h3>
         <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
         <pre><code>Example code block</code></pre>
         <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
         <h3>Sub-heading</h3>
         <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
         <ul>
            <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
            <li>Donec id elit non mi porta gravida at eget metus.</li>
            <li>Nulla vitae elit libero, a pharetra augue.</li>
         </ul>
         <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
         <ol>
            <li>Vestibulum id ligula porta felis euismod semper.</li>
            <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
            <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
         </ol>
         <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
      </div>
      <!-- /.blog-post -->
      <div class="blog-post">
         <h2 class="blog-post-title">History:</h2>
         <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>
         <p>The gateway was built to commemorate the arrival of George V, Emperor of India and Mary of Teck, Empress consort, in India at Apollo Bunder, Mumbai (then Bombay) on 2 December 1911 prior to the Delhi Durbar of 1911; it was the first visit of a British monarch to India. However, they only got to see a cardboard model of the monument,[A] as construction did not begin until 1915.The foundation stone for the gateway was laid on 31 March 1913 by then governor of Bombay, Sir George Sydenham Clarke with the final design of George Wittet for the gateway sanctioned in August 1914.Before the gateway's construction, Apollo Bunder used to serve a native fishing ground.Between 1915 and 1919 work continued at the Apollo Bunder to reclaim the land on which the gateway was to be built, along with the construction of a sea wall. Gammon India had undertaken construction work for the gateway. Its foundations were completed in 1920 while construction was finished in 1924. The gateway was opened to the public on 4 December 1924 by then viceroy, Rufus Isaacs, 1st Marquess of Reading. Following Indian independence, the last British troops to leave India, the First Battalion of the Somerset Light Infantry, passed through the gateway with a 21-gun salute, as part of a ceremony on 28 February 1948, signalling the end of the British Raj.
            <br><br>
            N. Kamala, professor at Jawaharlal Nehru University, refers to the gateway as a "jewel in the crown" and a "symbol of conquest and colonisation". The monument commemorates the legacy of British colonial rule, namely the first visit of a British monarch to India and its use as an entry point for prominent colonial personnel into British India. Today the gateway is synonymous with the city of Mumbai. Since its construction, the gateway has remained amongst the first structures visible to visitors arriving in Bombay by the sea.
            <br><br>
            Since 2003, the gateway has been the location for the local Jewish community to light the menorah for Hanukkah celebrations every year. This ritual was started by Rabbi Gavriel Noach Holtzberg of the chabad in Mumbai (located in Nariman House). It also became a site for prayers following the 2008 Mumbai terror attacks which targeted, amongst others, Nariman House.Rabbi Holtzberg lost his life in the 2008 terror attacks.
        </p>
      </div>
      <!-- /.blog-post -->
      <div class="blog-post">
         <h2 class="blog-post-title">
            Design and architecture</h2>
         <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

          <p>The gateway's arch has a height of 26 metres (85 feet) with its central dome being 15 metres (49 feet) in diameter.The monument is built of yellow basalt and reinforced concrete. The stones were sourced locally while the perforated screens were brought in from Gwalior.The monument faces towards the Mumbai Harbour. There are four turrets on the structure of the gateway, and there are steps constructed behind the arch of the gateway which lead to the Arabian Sea.The monument features intricate stone latticework (also known as the jali work). The Scottish architect, George Wittet combined elements of the Roman triumphal arch and 16th-century architecture of Gujarat. The architecture also combines indigenous architectural elements with elements of Islamic architecture, known as the Indo-Saracenic. The harbour front was realigned in order to make an esplanade, which would sweep down to the centre of the town. On each side of the arch, there are large halls with the capacity to hold 600 people.The cost of the construction was ₹21 lakhs (two million one hundred thousand rupees), borne by the then government.Due to a paucity of funds, the approach road was never built. Hence, the gateway stands at an angle to the road leading up to it.
            <br><br>
            In February 2019, Seagate Technology and CyArk embarked on a mission to digitally record and preserve the gateway, by digital scanning and archiving of the monument.[20] The images and data collected will be used to make photo-real three dimensional models.This is a part of CyArk's international programme for digitally preserving heritage monuments. It involves aerial surveys conducted with terrestrial laser scanning (LiDAR), drones, and photogrammetry exercises.The drawings and three-dimensional models will inform any future reconstruction works.
</p>
</div>

      <!-- /.blog-post -->
      <h4 id="gall" class="center">GALLERY :</h4>
      <div id="demo" class="carousel slide" data-ride="carousel">
         <ul  class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            <li data-target="#demo" data-slide-to="4"></li>
         </ul>
         <div  class="carousel-inner">
            <div class="carousel-item active">
               <img src="https://source.unsplash.com/random/1920x1080/?gatewayofindia1" alt="Los Angeles" width="1100" height="500">
               <div class="carousel-caption">
                  <h3>Los Angeles</h3>
                  <p>We had such a great time in LA!</p>
               </div>
            </div>
            <div class="carousel-item">
               <img src="https://source.unsplash.com/random/1920x1080/?gatewayofindia2" alt="Chicago" width="1100" height="500">
               <div class="carousel-caption">
                  <h3>Chicago</h3>
                  <p>Thank you, Chicago!</p>
               </div>
            </div>
            <div class="carousel-item">
               <img src="https://source.unsplash.com/random/1920x1080/?gatewayofindia3" alt="New York" width="1100" height="500">
               <div class="carousel-caption">
                  <h3>New York</h3>
                  <p>We love the Big Apple!</p>
               </div>
            </div>
            <div class="carousel-item">
               <img src="https://source.unsplash.com/random/1920x1080/?gatewayofindia4" alt="Chicago" width="1100" height="500">
               <div class="carousel-caption">
                  <h3>Chicago</h3>
                  <p>Thank you, Chicago!</p>
               </div>
            </div>
            <div class="carousel-item">
               <img src="https://source.unsplash.com/random/1920x1080/?gatewayofindia5" alt="Chicago" width="1100" height="500">
               <div class="carousel-caption">
                  <h3>Chicago</h3>
                  <p>Thank you, Chicago!</p>
               </div>
            </div>
         </div>
         <a class="carousel-control-prev" href="#demo" data-slide="prev">
         <span class="carousel-control-prev-icon"></span>
         </a>
         <a class="carousel-control-next" href="#demo" data-slide="next">
         <span class="carousel-control-next-icon"></span>
         </a>
      </div>
   </div>
   <!-- /.blog-main -->
   <aside class="col-md-4 blog-sidebar">
      <div class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">About</h4>
         <p class="mb-0">The Gateway of India is an arch monument built during the 20th century in Bombay, India. The monument was erected to commemorate the landing of King George V and Queen Mary at Apollo Bunder on their visit to India in 1911. It served to allow entry and access to India.</p>
      </div>
      <div class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">Location</h4>
         <hr>
         <p class="mb-0">
           Mumbai <br>-Maharashtra
         </p>
      </div>
      <div id="gmap" class="p-3 mb-3 bg-white pc">
         <!--Google map-->
         <div id="map-container-google-3" class="z-depth-1-half map-container-3">
            <iframe src="https://maps.google.com/maps?q=warsaw&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
               style="border:0" allowfullscreen></iframe>
         </div>
      </div>
      <div class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">Summary</h4>
         <hr>
         <p class="mb-0">Gateway of India is a great historical monument built during the British rule in the country. It was built as a triumphal arch to commemorate the visit of King George V and Queen Mary to Mumbai (then, Bombay). ... The arch alone was built at the cost of 21 lakhs.</p>
      </div>
      <div id="video" class="p-3 mb-3 bg-white pc">
         <div  class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/u_azFyc1MrA?start=48&autoplay=1" allow="autoplay;" allowfullscreen></iframe>
         </div>
      </div>
      <div id="fac" class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">Fun Fact</h4>
         <hr>
         <p class="mb-0">The Gateway of India is an arch-monument built in the early twentieth century in the city of Mumbai, in the Indian state of Maharashtra. It was erected to commemorate the landing in December 1911 at Apollo Bunder, Mumbai of King-Emperor George V and Queen-Empress Mary, the first British monarch to visit India.</p>
      </div>
      <div class="p-3">
         <h4 class="font-italic">Archives</h4>
         <ol class="list-unstyled mb-0">
            <li><a href="#">March 2014</a></li>
            <li><a href="#">February 2014</a></li>
            <li><a href="#">January 2014</a></li>
            <li><a href="#">December 2013</a></li>
            <li><a href="#">November 2013</a></li>
            <li><a href="#">October 2013</a></li>
            <li><a href="#">September 2013</a></li>
            <li><a href="#">August 2013</a></li>
            <li><a href="#">July 2013</a></li>
            <li><a href="#">June 2013</a></li>
            <li><a href="#">May 2013</a></li>
            <li><a href="#">April 2013</a></li>
         </ol>
      </div>
      <div class="p-3">
         <h4 class="font-italic">Elsewhere</h4>
         <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
         </ol>
      </div>
   </aside>
   <!-- /.blog-sidebar -->
</div>
<!-- /.row -->
<%- include("postcard") -%>
<!--COMMENTS WILL BE INCLUDE AFTER THE PROBLEM SOLVE-->
<%- include("footer") -%>
