<%- include("header") -%>
<div class="container-fluid mt-4">
   <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image: url(https://source.unsplash.com/random/1600x450/?golden,temple); background-size: auto;">
      <div class="col-md-6 px-0">
         <h1 class="display-4 font-italic">GOLDEN TEMPLE</h1>
         <p class="lead my-3">The Golden Temple is the main holy place for the Sikhs in India who call the temple the Harmandir Sahib. The temple is built around the Amritsar Sarovar, the holy river for the Sikhs.
        </p>
         <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
      </div>
   </div>
   <h5 class="font-italic" style="text-align:center;">Page Contents</h5>
   <div class="p-3 mb-3 bg-white text-center pc">
      <a href="#rp" s class="btn btn-dark" style="margin:5px;">Read the Post</a>
      <a href="#gall" s class="btn btn-dark" style="margin:5px;">View Gallery</a>
      <a href="#gmap" s class="btn btn-dark" style="margin:5px;">View on Map</a>
      <a href="#video" s class="btn btn-dark" style="margin:5px;">View a Video </a>
      <a href="#fac" s class="btn btn-dark" style="margin:5px;">Facts</a>
      <a href="#comm" s class="btn btn-dark" style="margin:5px;">Write a Comment</a>
   </div>
</div>
<main role="main" class="container">
<div class="row">
   <div class="col-md-8 blog-main pc">
      <div id="rp" class="blog-post">
         <h2 class="blog-post-title">Golden Temple</h2>
         <p class="blog-post-meta">April 16, 2021 by <a href="#">Ankit</a></p>
         <hr>
         <p>

            The Golden Temple is a blend of Islamic and Hindu architecture and this is what makes the structure marvellous. The lower level of the temple has gorgeous marble floors and walls with animal and flower prints on them.




         <hr>
         <!--Google map-->
         <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
         <blockquote>
            <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
         </blockquote>
         <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
         <h2>Heading</h2>
         <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
         <h3>Sub-heading</h3>
         <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
         <pre><code>Example code block</code></pre>
         <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
         <h3>Sub-heading</h3>
         <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
         <ul>
            <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
            <li>Donec id elit non mi porta gravida at eget metus.</li>
            <li>Nulla vitae elit libero, a pharetra augue.</li>
         </ul>
         <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
         <ol>
            <li>Vestibulum id ligula porta felis euismod semper.</li>
            <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
            <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
         </ol>
         <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
      </div>
      <!-- /.blog-post -->
      <div class="blog-post">
         <h2 class="blog-post-title">History:</h2>
         <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>
         <p>
            According to the Sikh historical records, the land that became Amritsar and houses the Harimandir Sahib was chosen by Guru Amar Das – the third Guru of the Sikh tradition. It was then called Guru Da Chakk, after he had asked his disciple Ram Das to find land to start a new town with a man-made pool as its central point. After Guru Ram Das succeeded Guru Amar Das in 1574, and given the hostile opposition he faced from the sons of Guru Amar Das,[20] Guru Ram Das founded the town that came to be known as "Ramdaspur". He started by completing the pool with the help of Baba Buddha (not to be confused with the Buddha of Buddhism). Guru Ram Das built his new official centre and home next to it. He invited merchants and artisans from other parts of India to settle into the new town with him.
            <br><br>
            Ramdaspur town expanded during the time of Guru Arjan financed by donations and constructed by voluntary work. The town grew to become the city of Amritsar, and the area grew into the temple complex).[21] The construction activity between 1574 and 1604 is described in Mahima Prakash Vartak, a semi-historical Sikh hagiography text likely composed in 1741, and the earliest known document dealing with the lives of all the ten Gurus.[22] Guru Arjan installed the scripture of Sikhism inside the new gurdwara in 1604.[23] Continuing the efforts of Guru Ram Das, Guru Arjan established Amritsar as a primary Sikh pilgrimage destination. He wrote a voluminous amount of Sikh scripture including the popular Sukhmani Sahib.
         </p>
      </div>
      <!-- /.blog-post -->
      <div class="blog-post">
         <h2 class="blog-post-title">Construction</h2>
         <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

          <p>
            Maharaja Ranjit Singh listening to Guru Granth Sahib being recited near the Akal Takht and Golden Temple, Amritsar, Punjab, India.
            Guru Ram Das acquired the land for the site. Two versions of stories exist on how he acquired this land. In one, based on a Gazetteer record, the land was purchased with Sikh donations of 700 rupees from the owners of the village of Tung. In another version, Emperor Akbar is stated to have donated the land to the wife of Guru Ram Das.
            <br><br>
            In 1581, Guru Arjan initiated the construction of the Gurdwara.[1] During the construction the pool was kept empty and dry. It took 8 years to complete the first version of the Harmandir Sahib. Guru Arjan planned a gurdwara at a level lower than the city to emphasise humility and the need to efface one's ego before entering the premises to meet the Guru.[1] He also demanded that the gurdwara compound be open on all sides to emphasise that it was open to all. The sanctum inside the pool where his Guru seat was had only one bridge to emphasise that the end goal was one, states Arvind-Pal Singh Mandair.[1] In 1589, the gurdwara made with bricks was complete. Guru Arjan is believed by some later sources to have invited the Sufi saint Mian Mir of Lahore to lay its foundation stone, signalling pluralism and that the Sikh tradition welcomed all.[1] This belief is however unsubstantiated. According to Sikh traditional sources such as Sri Gur Suraj Parkash Granth it was laid by Guru Arjan himself.[29] After the inauguration, the pool was filled with water. On 16 August 1604, Guru Arjan completed expanding and compiling the first version of the Sikh scripture and placed a copy of the Adi Granth in the gurdwara. He appointed Baba Buddha as the first Granthi.
            <br> <br>
            Ath Sath Tirath, which means "shrine of 68 pilgrimages", is a raised canopy on the parkarma (circumambulation marble path around the pool).The name, as stated by W. Owen Cole and other scholars, reflects the belief that visiting this temple is equivalent to 68 Hindu pilgrimage sites in the Indian subcontinent, or that a Tirath to the Golden Temple has the efficacy of all 68 Tiraths combined. The completion of the first version of the Golden Temple was a major milestone for Sikhism, states Arvind-Pal Singh Mandair, because it provided a central pilgrimage place and a rallying point for the Sikh community, set within a hub of trade and activity.[1]

            </p>
</div>
        <!-- /.blog-post -->
        <div class="blog-post">
           <h2 class="blog-post-title">Mughal Empire era destruction and rebuilding</h2>
           <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

            <p>
                The growing influence and success of Guru Arjan drew the attention of the Mughal Empire. Guru Arjan was arrested under the orders of the Mughal Emperor Jahangir and asked to convert to Islam.He refused, was tortured and executed in 1606 CE. Guru Arjan's son and successor Guru Hargobind left Amritsar and moved into the Shivalik Hills to avoid persecution and to save the Sikh panth. For about a century after Guru Arjan's martyrdom, state Louis E. Fenech and W. H. McLeod, the Golden Temple was not occupied by the actual Sikh Gurus and it remained in hostile sectarian hands. In the 18th century, Guru Gobind Singh and his newly founded Khalsa Sikhs came back and fought to liberate it.[37] The Golden Temple was viewed by the Mughal rulers and Afghan Sultans as the center of Sikh faith and it remained the main target of persecution.
            </p>
              </div>
              <div class="blog-post">
                <h2 class="blog-post-title">Destruction and reconstruction after Indian independence</h2>
                <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

                 <p>
                    The destruction of the temple occurred during the Operation Blue Star. It was the codename of an Indian military action carried out between 1 and 8 June 1984 to remove militant Sikh Jarnail Singh Bhindranwale and his followers from the buildings of the Harmandir Sahib (Golden Temple) complex in Amritsar, Punjab. The decision to launch the attack rested with Prime Minister Indira Gandhi.[43] In July 1982, Harchand Singh Longowal, the President of the Sikh political party Akali Dal, had invited Bhindranwale to take up residence in the Golden Temple Complex to evade arrest.The government claimed Bhindranwale later made the sacred temple complex an armoury and headquarters.[46]
<br>
On 1 June 1984, after negotiations with the militants failed, Indira Gandhi ordered the army to launch Operation Blue Star, simultaneously attacking scores of Sikh temples across Punjab.[47] A variety of army units and paramilitary forces surrounded the Golden Temple complex on 3 June 1984. The fighting started on 5 June with skirmishes and the battle went on for three days, ending on 8 June. A clean-up operation codenamed Operation Woodrose was also initiated throughout Punjab.[48]
<br>
The army had underestimated the firepower possessed by the militants, whose armament included Chinese-made rocket-propelled grenade launchers with armour piercing capabilities. Tanks and heavy artillery were used to attack the militants, who responded with anti-tank and machine-gun fire from the heavily fortified Akal Takht. After a 24-hour firefight, the army gained control of the temple complex. Casualty figures for the army were 83 dead and 249 injured.[49] According to the official estimates, 1,592 militants were apprehended and there were 493 combined militant and civilian casualties.[50] According to the government claims, high civilian casualties were attributed to militants using pilgrims trapped inside the temple as human shields.[51]
<br>
Brahma Chellaney, the Associated Press's South Asia correspondent, was the only foreign reporter who managed to stay on in Amritsar despite the media blackout.[52] His dispatches, filed by telex, provided the first non-governmental news reports on the bloody operation in Amritsar. His first dispatch, front-paged by The New York Times, The Times of London and The Guardian, reported a death toll about twice of what authorities had admitted. According to the dispatch, about 780 militants and civilians and 400 troops had perished in fierce gun-battles.[53] Chellaney reported that about "eight to ten" men suspected Sikh militants had been shot with their hands tied. In that dispatch, Mr. Chellaney interviewed a doctor who said he had been picked up by the army and forced to conduct postmortems despite the fact he had never done any postmortem examination before. In reaction to the dispatch, the Indian government charged Chellaney with violating Punjab press censorship, two counts of fanning sectarian hatred and trouble, and later with sedition, calling his report baseless and disputing his casualty figures.
<br>
The military action in the temple complex was criticized by Sikhs worldwide, who interpreted it as an assault on the Sikh religion.Many Sikh soldiers in the army deserted their units,several Sikhs resigned from civil administrative office and returned awards received from the Indian government. Five months after the operation, on 31 October 1984, Indira Gandhi was assassinated in an act of revenge by her two Sikh bodyguards, Satwant Singh and Beant Singh.Public outcry over Gandhi's death led to the killings of more than 3,000 Sikhs in Delhi alone, in the ensuing 1984 anti-Sikh riots.

 </p>
                   </div>
      <!-- /.blog-post -->
      <h4 id="gall" class="center">GALLERY :</h4>
      <div id="demo" class="carousel slide" data-ride="carousel">
         <ul  class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            <li data-target="#demo" data-slide-to="4"></li>
         </ul>
         <div  class="carousel-inner">
            <div class="carousel-item active">
               <img src="https://source.unsplash.com/random/1920x1080/?goldentemple" alt="Los Angeles" width="1100" height="500">
               <div class="carousel-caption">
                  <h3>Los Angeles</h3>
                  <p>We had such a great time in LA!</p>
               </div>
            </div>
            <div class="carousel-item">
               <img src="https://source.unsplash.com/random/1920x1080/?goldentemple1" alt="Chicago" width="1100" height="500">
               <div class="carousel-caption">
                  <h3>Chicago</h3>
                  <p>Thank you, Chicago!</p>
               </div>
            </div>
            <div class="carousel-item">
               <img src="https://source.unsplash.com/random/1920x1080/?goldentemple2" alt="New York" width="1100" height="500">
               <div class="carousel-caption">
                  <h3>New York</h3>
                  <p>We love the Big Apple!</p>
               </div>
            </div>
            <div class="carousel-item">
               <img src="https://source.unsplash.com/random/1920x1080/?goldentemple3" alt="Chicago" width="1100" height="500">
               <div class="carousel-caption">
                  <h3>Chicago</h3>
                  <p>Thank you, Chicago!</p>
               </div>
            </div>
            <div class="carousel-item">
               <img src="https://source.unsplash.com/random/1920x1080/?golden,temple" alt="Chicago" width="1100" height="500">
               <div class="carousel-caption">
                  <h3>Chicago</h3>
                  <p>Thank you, Chicago!</p>
               </div>
            </div>
         </div>
         <a class="carousel-control-prev" href="#demo" data-slide="prev">
         <span class="carousel-control-prev-icon"></span>
         </a>
         <a class="carousel-control-next" href="#demo" data-slide="next">
         <span class="carousel-control-next-icon"></span>
         </a>
      </div>
   </div>
   <!-- /.blog-main -->
   <aside class="col-md-4 blog-sidebar">
      <div class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">About</h4>
         <p class="mb-0">The Golden Temple is spiritually the most significant shrine in Sikhism. It became a center of the Singh Sabha Movement between 1883 and 1920s, and the Punjabi Suba movement between 1947 and 1966.</p>
      </div>
      <div class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">Location</h4>
         <hr>
         <p class="mb-0">
            Amritsar <br> -Punjab
         </p>
      </div>
      <div id="gmap" class="p-3 mb-3 bg-white pc">
         <!--Google map-->
         <div id="map-container-google-3" class="z-depth-1-half map-container-3">
            <iframe src="https://maps.google.com/maps?q=warsaw&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
               style="border:0" allowfullscreen></iframe>
         </div>
      </div>
      <div class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">Summary</h4>
         <hr>
         <p class="mb-0">Golden Temple was designed by Guru Arjun Dev who was the fifth Guru of the Sikhs. The temple is the place of pilgrimage for the people of Sikh community and many people come to worship here every day. There is no restriction and people of any religion can come and worship here.</p>
      </div>
      <div id="video" class="p-3 mb-3 bg-white pc">
         <div  class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/K1sRzW0-bNU?start=48&autoplay=1" allow="autoplay;" allowfullscreen></iframe>
         </div>
      </div>
      <div id="fac" class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">Fun Fact</h4>
         <hr>
         <p class="mb-0">The exquisite Golden Temple is a unique blend of the Hindu as well as the Islamic architecture. The shrine is decorated with marble sculptures and paintings that look similar to the Taj Mahal. The dome at the top is made from pure gold and the gurudwara is also encased with intricate gold panels.</p>
      </div>
      <div class="p-3">
         <h4 class="font-italic">Archives</h4>
         <ol class="list-unstyled mb-0">
            <li><a href="#">March 2014</a></li>
            <li><a href="#">February 2014</a></li>
            <li><a href="#">January 2014</a></li>
            <li><a href="#">December 2013</a></li>
            <li><a href="#">November 2013</a></li>
            <li><a href="#">October 2013</a></li>
            <li><a href="#">September 2013</a></li>
            <li><a href="#">August 2013</a></li>
            <li><a href="#">July 2013</a></li>
            <li><a href="#">June 2013</a></li>
            <li><a href="#">May 2013</a></li>
            <li><a href="#">April 2013</a></li>
         </ol>
      </div>
      <div class="p-3">
         <h4 class="font-italic">Elsewhere</h4>
         <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
         </ol>
      </div>
   </aside>
   <!-- /.blog-sidebar -->
</div>
<!-- /.row -->
<%- include("postcard") -%>
<!--COMMENTS WILL BE INCLUDE AFTER THE PROBLEM SOLVE-->
<%- include("footer") -%>
