<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
         crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="http://maps.google.com/maps/api/js?key=YOUR_API_KEY"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.25/gmaps.js"></script>
      <link rel="stylesheet" type="text/css" href="/css/style.css">
      <link rel="stylesheet" type="text/css" href="/css/timeline.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <title>Indian History Project </title>
   </head>
   <body>
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
         <div class="container">
            <a href="index.ejs" class="navbar-brand">INDIAN HffeffefwfffISTORY</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                     <a href="index.ejs" class="nav-link">Home</a>
                  </li>
                  <li class="nav-item">
                     <a href="prehistoricera.ejs" class="nav-link">Pre-Historic Era</a>
                  </li>
                  <li class="nav-item">
                     <a href="mughalempire.ejs" class="nav-link">Mughal Empire</a>
                  </li>
                  <li class="nav-item">
                     <a href="index.ejs" class="nav-link">Timeline</a>
                  </li>
                  <li class="nav-item ">
                     <a href="blog.ejs" class="nav-link">Blog</a>
                  </li>
                  <li class="nav-item active">
                     <a href="about.ejs" class="nav-link">About</a>
                  </li>
                  <li class="nav-item">
                     <a href="contactus.ejs" class="nav-link">Contact</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
