<%- include("header") -%>
<div class="container-fluid mt-4">
   <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image: url(https://source.unsplash.com/random/1600x450/?humayuntomb); background-size: auto;">
      <div class="col-md-6 px-0">
         <h1 class="display-4 font-italic">HUMAYUN'S TOMB</h1>
         <p class="lead my-3">Humayun’s Tomb was one of the earliest constructions of the Mughal Empire. It was commissioned by the then Mughal ruler King Akbar.
        </p>
         <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
      </div>
   </div>
   <h5 class="font-italic" style="text-align:center;">Page Contents</h5>
   <div class="p-3 mb-3 bg-white text-center pc">
      <a href="#rp" s class="btn btn-dark" style="margin:5px;">Read the Post</a>
      <a href="#gall" s class="btn btn-dark" style="margin:5px;">View Gallery</a>
      <a href="#gmap" s class="btn btn-dark" style="margin:5px;">View on Map</a>
      <a href="#video" s class="btn btn-dark" style="margin:5px;">View a Video </a>
      <a href="#fac" s class="btn btn-dark" style="margin:5px;">Facts</a>
      <a href="#comm" s class="btn btn-dark" style="margin:5px;">Write a Comment</a>
   </div>
</div>
<main role="main" class="container">
<div class="row">
   <div class="col-md-8 blog-main pc">
      <div id="rp" class="blog-post">
         <h2 class="blog-post-title">Humayun’s Tomb</h2>
         <p class="blog-post-meta">April 16, 2021 by <a href="#">Ankit</a></p>
         <hr>
         <p>A majestic piece of architecture, the Humayun’s Tomb is sheer magnificent beauty. The tomb is famous for its exquisite red sandstone structure and impeccable geometric shape.





         <hr>
         <!--Google map-->
         <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
         <blockquote>
            <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
         </blockquote>
         <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
         <h2>Heading</h2>
         <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
         <h3>Sub-heading</h3>
         <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
         <pre><code>Example code block</code></pre>
         <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
         <h3>Sub-heading</h3>
         <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
         <ul>
            <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
            <li>Donec id elit non mi porta gravida at eget metus.</li>
            <li>Nulla vitae elit libero, a pharetra augue.</li>
         </ul>
         <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
         <ol>
            <li>Vestibulum id ligula porta felis euismod semper.</li>
            <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
            <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
         </ol>
         <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
      </div>
      <!-- /.blog-post -->
      <div class="blog-post">
         <h2 class="blog-post-title">History:</h2>
         <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>
         <p>
            Mughal Emperor, Humayun r. 1508–1556
<br><br>

            After his death on 27 January 1556, Humayun's body was first buried in his palace in Purana Quila at Delhi. Thereafter it was taken to Sirhind, in Punjab by Khanjar Beg and, in 1558, it was seen by Humayun's son, the then Mughal Emperor, Akbar. Akbar subsequently visited the tomb in 1571, when it was about to be completed.
            <br><br>
            The tomb of Humayun was built by the orders of his first wife and chief consort, Empress Bega Begum (also known as Haji Begum). Construction began in 1565 and was completed in 1572; it cost 1.5 million rupees, paid entirely by the Empress. Bega Begum had been so grieved over her husband's death that she had thenceforth dedicated her life to a sole purpose: the construction of a memorial to him than would be the most magnificent mausoleum in the Empire, at a site near the Yamuna River in Delhi.[2] According to Ain-i-Akbari, a 16th-century detailed document written during the reign of Akbar, Bega Begum supervised the construction of the tomb after returning from Mecca and undertaking the Hajj pilgrimage.
            <br><br>
            According to Abd al-Qadir Bada'uni, one of the few contemporary historians to mention construction of the tomb, it was designed by the Persian architect Mirak Mirza Ghiyas (also referred to as Mirak Ghiyathuddin), who was selected by the Empress and brought from Herat (northwest Afghanistan); he had previously designed several buildings in Herat, Bukhara (now Uzbekistan), and others elsewhere in India.[9] Ghiyas died before the structure was completed and it was completed by his son, Sayyed Muhammad ibn Mirak Ghiyathuddin.
            <br><br>
            An English merchant, William Finch, who visited the tomb in 1611, describes rich interior furnishing of the central chamber (in comparison to the sparse look today). He mentions the presence of rich carpets, as well as a shamiana, a small tent above the cenotaph, which was covered with a pure white sheet, and with copies of the Quran in front along with Humayun's sword, turban and shoes.
            <br><br>
            The fortunes of the once famous Charbagh (Four-gardens) made of four squares separated by four promenades, radiating from a central reflection pool. It spread over 13 hectares surrounding the monument, changed repeatedly over the years after its construction. The capital had already shifted to Agra in 1556, and the decline of the Mughals accelerated the decay of the monument and its features, as the expensive upkeep of the garden proved impossible. By the early 18th century, the once lush gardens were replaced by vegetable garden of people who had settled within the walled area. However, the capture of the last Mughal emperor, Bahadur Shah Zafar during the Indian Rebellion of 1857 together with the premises, and his subsequent sentencing to exile, along with execution of his three sons, meant that the monument's worst days lay ahead, as the British took over Delhi completely. In 1860, the Mughal design of the garden was replanted to a more English garden-style, with circular beds replacing the fours central water pools on the axial pathways and trees profusely planted in flowerbeds. This fault was corrected in the early 20th century, when on Viceroy Lord Curzon's orders the original gardens were restored in a major restoration project between 1903–1909, which also included lining the plaster channels with sandstone; a 1915 planting scheme added emphasis to the central and diagonal axis by lining it with trees, though some trees were also planted on the platform originally reserved for tents.
            <br><br>
            In 1882, the official curator of ancient monuments in India published his first report, which mentioned that the main garden was let out to various cultivators; amongst them till late were the royal descendants, who grew cabbage and tobacco in it.
            <br><br>
            During the Partition of India, in August 1947 the Purana Qila together with Humayun's Tomb, became major refugee camps for Muslims migrating to the newly founded Pakistan, and was later managed by the government of India. These camps stayed open for about five years, and caused considerable damage not only to the extensive gardens, but also to the water channels and the principal structures. Eventually, to avoid vandalism, the cenotaphs within the mausoleum were encased in brick. In the coming years, the Archaeological Survey of India (ASI), took on responsibility for the preservation of heritage monuments in India, and gradually the building and its gardens were restored. Until 1985, four unsuccessful attempts were made to reinstate the original water features.
            <br><br>
            An important phase in the restoration of the complex began around 1993, when the monument was declared a World Heritage Site. This brought new interest to its restoration, and a detailed research and excavation process began under the aegis of the Aga Khan Trust and the ASI. This culminated in 2003, when much of the complex and gardens were restored, with the historic fountains running once again after several centuries of disuse. The restoration has been a continuous process ever since, with subsequent phases addressing various aspects and monuments of the complex.
            </p>
      </div>
      <!-- /.blog-post -->
      <div class="blog-post">
         <h2 class="blog-post-title">Architecture</h2>
         <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

          <p>
            Turkish and Mughal rule in the Indian subcontinent, also introduced Central Asian and Persian styles of Islamic architecture in the region, and by the late 12th century early monuments in this style were appearing in and around Delhi, the capital of Delhi Sultanate. Starting with the Turkic Slave dynasty which built the Qutb Minar (1192) and its adjacent Quwwat-ul-Islam mosque (1193 CE). North India was successively ruled by foreign dynasties in the coming centuries giving rise to the Indo-Islamic architecture. While the prevailing style of architecture was trabeate, employing pillars, beams and lintels, this brought in the arcuate style of construction, with its arches and beams, which flourished under Mughal patronage and by incorporating elements of Indian architecture, especially Rajasthani architecture including decorative corbel brackets, balconies, pendentive decorations and indeed kiosks or chhatris, to develop a distinct Mughal architecture style, which was to become a lasting legacy of the Mughal rule.[31] The combination of red sandstone and white marble was previously seen in Delhi Sultanate period tombs and mosques, most distinctively in the highly decorative Alai Darwaza gatehouse in the Qutub complex, Mehrauli, built in 1311, under the Khalji dynasty.
            <br><br>

            Humayun's Tomb Garden Enclosure Plan
            <br><br>
            The high rubble built enclosure is entered through two lofty double-storeyed gateways on the west and south, 16 metres high with rooms on either side of the passage and small courtyards on the upper floors. The tomb built of rubble masonry and red sandstone, uses white marble as a cladding material and also for the flooring, lattice screens (jaalis), door frames, eaves (chhajja) and for the main dome. It stands on a vaulted terrace eight-metre high and spread over 12,000m². It is essentially square in design, though chamferred on the edges to appear octagonal, to prepare ground for the design of the interior structure. The plinth made with rubble core has fifty-six cells all around, and houses over 100 gravestones. Plus, the entire base structure is on a raised platform, a few steps high.
            <br><br>
            Inspired by Persian architecture; the tomb reaches a height of 47 metres (154 ft) and the plinth is 91 metres (299 ft) wide, and was the first Indian building to use the Persian double dome on a high neck drum, and measures 42.5 metres (139 ft), and is topped by 6 metres (20 ft) high brass finial ending in a crescent, common in Timurid tombs. The double or 'double-layered' dome, has its outer layer which supports the white marble exterior, while the inner part gives shape to the cavernous interior volume. As a contrast to the pure white exterior dome, rest of the building is made up of red sandstone, with white and black marble and yellow sandstone detailing, to relieve the monotony.
            <br><br>
            The symmetrical and simple designed on the exterior is in sharp contrast with the complex interior floor plan, of inner chambers, which is a square 'ninefold plan', where eight two-storied vaulted chambers radiate from the central, double-height domed chamber. It can be entered through an imposing entrance iwan (high arc) on the south, which is slightly recessed, while others sides are covered with intricate jaalis, stone latticework. Underneath this white dome in a domed chamber (hujra), lies the central octagonal sepulcher, the burial chamber containing a single cenotaph, that of the second Mughal Emperor, Humayun aligned on the north–south axis, as per Islamic tradition, wherein the head is placed to the north, while the face is turned sideways towards Mecca. The real burial chamber of the Emperor, however, lies further away in an underground chamber, exactly beneath the upper cenotaph, accessible through a separate passage outside the main structure, which remains mostly closed to visiting public. This burial technique along with pietra dura, a marble and even stone inlay ornamentation in numerous geometrical and arabesque patterns, seen all around the facade is an important legacy of the Indo-Islamic architecture, and flourished in many later mausolea of the Mughal Empire, like the Taj Mahal, where again we find twin cenotaphs and exquisite 'pietra dura' craftsmanship.
            <br><br>
            The main chamber also carries the symbolic element, a mihrab design over the central marble lattice or jaali, facing Mecca in the West, here instead of the traditional Surah 24, An-Noor of Quran which is inscribed on the mihrabs, this one is just an outline allowing light to enter directly into the chamber, from Qibla or the direction of Mecca, thus elevating the status of the Emperor, above his rivals and closer to divinity.
            <br><br>
            This chamber with high ceiling is then encompassed by four main octagonal chambers on two floors, set at the diagonals with arched lobbies leading to them also connecting them, plus there are four auxiliary chambers in between suggesting that the tomb was built as a dynastic mausoleum. Collectively the concept of eight side chambers not only offers passage for circumambulation of the main cenotaph, a practice common in Sufism and also visible in many Mughal imperial mausoleums, it also reflects the concept of Paradise in Islamic cosmology. Each of the main chambers has, in turn, eight more, smaller chambers radiating from them, and thus the symmetrical ground plan reveals itself to contain 124 vaulted chambers in all. Many smaller chambers too, contain cenotaphs of other members of the Mughal royal family and nobility, all within main walls of the tomb. Prominent among them cenotaphs of Hamida Begum herself are there alongside Dara Shikoh. In all there are over 100 graves within the entire complex, including many on the first level terrace, earning it the name "Dormitory of the Mughals", since the graves are not inscribed their identification remains uncertain.
            <br><br>
            The building was first to use its unique combination of red sandstone and white marble, and includes several elements of Indian architectural, like the small canopies, or chhatris surrounding the central dome, popular in Rajasthani architecture and which were originally covered with blue tiles.

            </p>
</div>

      <!-- /.blog-post -->
      <h4 id="gall" class="center">GALLERY :</h4>
      <div id="demo" class="carousel slide" data-ride="carousel">
         <ul  class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            <li data-target="#demo" data-slide-to="4"></li>
         </ul>
         <div  class="carousel-inner">
            <div class="carousel-item active">
               <img src="https://source.unsplash.com/random/1920x1080/?humayuntomb2" alt="Los Angeles" width="1100" height="500">
               <div class="carousel-caption">

               </div>
            </div>
            <div class="carousel-item">
               <img src="https://source.unsplash.com/random/1920x1080/?humayuntomb3" alt="Chicago" width="1100" height="500">
               <div class="carousel-caption">

               </div>
            </div>
            <div class="carousel-item">
               <img src="https://source.unsplash.com/random/1920x1080/?humayuntomb4" alt="New York" width="1100" height="500">
               <div class="carousel-caption">

               </div>
            </div>
            <div class="carousel-item">
               <img src="https://source.unsplash.com/random/1920x1080/?humayuntomb5" alt="Chicago" width="1100" height="500">
               <div class="carousel-caption">

               </div>
            </div>
            <div class="carousel-item">
               <img src="https://source.unsplash.com/random/1920x1080/?humayuntomb6" alt="Chicago" width="1100" height="500">
               <div class="carousel-caption">

               </div>
            </div>
         </div>
         <a class="carousel-control-prev" href="#demo" data-slide="prev">
         <span class="carousel-control-prev-icon"></span>
         </a>
         <a class="carousel-control-next" href="#demo" data-slide="next">
         <span class="carousel-control-next-icon"></span>
         </a>
      </div>
   </div>
   <!-- /.blog-main -->
   <aside class="col-md-4 blog-sidebar">
      <div class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">About</h4>
         <p class="mb-0">It was the first garden-tomb on the Indian subcontinent, and is located in Nizamuddin East, Delhi, India, close to the Dina-panah Citadel, also known as Purana Qila (Old Fort), that Humayun found in 1533. It was also the first structure to use red sandstone at such a scale.</p>
      </div>
      <div class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">Location</h4>
         <hr>
         <p class="mb-0">
           NEW DELHI <br>- INDIA
         </p>
      </div>
      <div id="gmap" class="p-3 mb-3 bg-white pc">
         <!--Google map-->
         <div id="map-container-google-3" class="z-depth-1-half map-container-3">
            <iframe src="https://maps.google.com/maps?q=warsaw&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
               style="border:0" allowfullscreen></iframe>
         </div>
      </div>
      <div class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">Summary</h4>
         <hr>
         <p class="mb-0">The structure is of dressed stone clad in red sandstone with white and black inlaid marble borders. Humayun's garden-tomb is also called the 'dormitory of the Mughals' as in the cells are buried over 150 Mughal family members. </p>
      </div>
      <div id="video" class="p-3 mb-3 bg-white pc">
         <div  class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aw50ZkiGcAU?start=48&autoplay=1" allow="autoplay;" allowfullscreen></iframe>
         </div>
      </div>
      <div id="fac" class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">Fun Fact</h4>
         <hr>
         <p class="mb-0">This structure is known for its unique architecture, as it is octagonal on the outside while square within; its ceiling is decorated with painted and incised plaster, it has a high neck dome and shows a conspicuous absence of a double dome feature, common to tombs of the period.</p>
      </div>
      <div class="p-3">
         <h4 class="font-italic">Archives</h4>
         <ol class="list-unstyled mb-0">
            <li><a href="#">March 2014</a></li>
            <li><a href="#">February 2014</a></li>
            <li><a href="#">January 2014</a></li>
            <li><a href="#">December 2013</a></li>
            <li><a href="#">November 2013</a></li>
            <li><a href="#">October 2013</a></li>
            <li><a href="#">September 2013</a></li>
            <li><a href="#">August 2013</a></li>
            <li><a href="#">July 2013</a></li>
            <li><a href="#">June 2013</a></li>
            <li><a href="#">May 2013</a></li>
            <li><a href="#">April 2013</a></li>
         </ol>
      </div>
      <div class="p-3">
         <h4 class="font-italic">Elsewhere</h4>
         <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
         </ol>
      </div>
   </aside>
   <!-- /.blog-sidebar -->
</div>
<!-- /.row -->
<%- include("postcard") -%>
<!--COMMENTS WILL BE INCLUDE AFTER THE PROBLEM SOLVE-->
<%- include("footer") -%>
