<%- include("header") -%>
<div class="container-fluid mt-4">
   <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image: url(https://source.unsplash.com/random/1600x450/?black); background-size: auto;">
      <div class="col-md-6 px-0">
         <h1 class="display-4 font-italic">INDIAN INDEPENDENCE MOVEMENT</h1>
         <p class="lead my-3">The numbers of British in India were small, yet they were able to rule 52% of the Indian subcontinent directly and exercise considerable leverage over the princely states that accounted for 48% of the area.  <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
      </div>
   </div>
   <h5 class="font-italic" style="text-align:center;">Page Contents</h5>
   <div class="p-3 mb-3 bg-white text-center pc">
      <a href="#rp" s class="btn btn-dark" style="margin:5px;">Read the Post</a>
      <a href="#gall" s class="btn btn-dark" style="margin:5px;">View Gallery</a>
      <a href="#gmap" s class="btn btn-dark" style="margin:5px;">View on Map</a>
      <a href="#video" s class="btn btn-dark" style="margin:5px;">View a Video </a>
      <a href="#fac" s class="btn btn-dark" style="margin:5px;">Facts</a>
      <a href="#comm" s class="btn btn-dark" style="margin:5px;">Write a Comment</a>
   </div>
</div>
<main role="main" class="container">
<div class="row">
   <div class="col-md-8 blog-main pc">
      <div id="rp" class="blog-post">
         <h2 class="blog-post-title">Indian independence movement (1885–1947)</h2>
         <p class="blog-post-meta">April 16, 2021 by <a href="#">Ankit</a></p>
         <hr>
         <p>One of the most important events of the 19th century was the rise of Indian nationalism,[407] leading Indians to seek first "self-rule" and later "complete independence". However, historians are divided over the causes of its rise. Probable reasons include a "clash of interests of the Indian people with British interests", "racial discriminations",[408] and "the revelation of India's past".

         <hr>
         <!--Google map-->
         <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
         <blockquote>
            <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
         </blockquote>
         <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
         <h2>Heading</h2>
         <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
         <h3>Sub-heading</h3>
         <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
         <pre><code>Example code block</code></pre>
         <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
         <h3>Sub-heading</h3>
         <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
         <ul>
            <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
            <li>Donec id elit non mi porta gravida at eget metus.</li>
            <li>Nulla vitae elit libero, a pharetra augue.</li>
         </ul>
         <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
         <ol>
            <li>Vestibulum id ligula porta felis euismod semper.</li>
            <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
            <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
         </ol>
         <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
      </div>
      <!-- /.blog-post -->
      <div class="blog-post">
         <h2 class="blog-post-title">History:</h2>
         <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>
         <p>
            The first step toward Indian self-rule was the appointment of councillors to advise the British viceroy in 1861 and the first Indian was appointed in 1909. Provincial Councils with Indian members were also set up. The councillors' participation was subsequently widened into legislative councils. The British built a large British Indian Army, with the senior officers all British and many of the troops from small minority groups such as Gurkhas from Nepal and Sikhs.[410] The civil service was increasingly filled with natives at the lower levels, with the British holding the more senior positions.
            <br><br>
            Bal Gangadhar Tilak, an Indian nationalist leader, declared Swaraj as the destiny of the nation. His popular sentence "Swaraj is my birthright, and I shall have it"[412] became the source of inspiration for Indians. Tilak was backed by rising public leaders like Bipin Chandra Pal and Lala Lajpat Rai, who held the same point of view, notably they advocated the Swadeshi movement involving the boycott of all imported items and the use of Indian-made goods; the triumvirate were popularly known as Lal Bal Pal. Under them, India's three big provinces – Maharashtra, Bengal and Punjab shaped the demand of the people and India's nationalism. In 1907, the Congress was split into two factions: The radicals, led by Tilak, advocated civil agitation and direct revolution to overthrow the British Empire and the abandonment of all things British. The moderates, led by leaders like Dadabhai Naoroji and Gopal Krishna Gokhale, on the other hand, wanted reform within the framework of British rule.
            <br><br>
            The partition of Bengal in 1905 further increased the revolutionary movement for Indian independence. The disenfranchisement lead some to take violent action.
            <br><br>
            The British themselves adopted a "carrot and stick" approach in recognition of India's support during the First World War and in response to renewed nationalist demands. The means of achieving the proposed measure were later enshrined in the Government of India Act 1919, which introduced the principle of a dual mode of administration, or diarchy, in which elected Indian legislators and appointed British officials shared power.[414] In 1919, Colonel Reginald Dyer ordered his troops to fire their weapons on peaceful protestors, including unarmed women and children, resulting in the Jallianwala Bagh massacre; which led to the Non-cooperation Movement of 1920–22. The massacre was a decisive episode towards the end of British rule in India.
            <br><br>
            From 1920 leaders such as Mahatma Gandhi began highly popular mass movements to campaign against the British Raj using largely peaceful methods. The Gandhi-led independence movement opposed the British rule using non-violent methods like non-co-operation, civil disobedience and economic resistance. However, revolutionary activities against the British rule took place throughout the Indian subcontinent and some others adopted a militant approach like the Hindustan Republican Association, founded by Chandrasekhar Azad, Bhagat Singh, Sukhdev Thapar and others, that sought to overthrow British rule by armed struggle. The Government of India Act 1935 was a major success in this regard.
            <br><br>
            The All India Azad Muslim Conference gathered in Delhi in April 1940 to voice its support for an independent and united India.[416] Its members included several Islamic organisations in India, as well as 1400 nationalist Muslim delegates. The pro-separatist All-India Muslim League worked to try to silence those nationalist Muslims who stood against the partition of India, often using "intimidation and coercion". The murder of the All India Azad Muslim Conference leader Allah Bakhsh Soomro also made it easier for the pro-separatist All-India Muslim League to demand the creation of a Pakistan.
               </p>
      </div>
      <!-- /.blog-post -->
      <div class="blog-post">
         <h2 class="blog-post-title">Extras</h2>
         <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

          <p>"A moment comes, which comes but rarely in history, when we step out from the old to the new; when an age ends; and when the soul of a nation long suppressed finds utterance."
            <br>
            — From, Tryst with destiny, a speech given by Jawaharlal Nehru to the Constituent Assembly of India on the eve of independence, 14 August 1947.
           <br><br>
           After World War II (c. 1946–1947)
           <br><br><br>
           In January 1946, several mutinies broke out in the armed services, starting with that of RAF servicemen frustrated with their slow repatriation to Britain. The mutinies came to a head with mutiny of the Royal Indian Navy in Bombay in February 1946, followed by others in Calcutta, Madras, and Karachi. The mutinies were rapidly suppressed. Also in early 1946, new elections were called and Congress candidates won in eight of the eleven provinces.
           <br><br>
           Late in 1946, the Labour government decided to end British rule of India, and in early 1947 it announced its intention of transferring power no later than June 1948 and participating in the formation of an interim government.
           <br><br>
           Along with the desire for independence, tensions between Hindus and Muslims had also been developing over the years. The Muslims had always been a minority within the Indian subcontinent, and the prospect of an exclusively Hindu government made them wary of independence; they were as inclined to mistrust Hindu rule as they were to resist the foreign Raj, although Gandhi called for unity between the two groups in an astonishing display of leadership.
           <br><br>
           Muslim League leader Muhammad Ali Jinnah proclaimed 16 August 1946 as Direct Action Day, with the stated goal of highlighting, peacefully, the demand for a Muslim homeland in British India, which resulted in the outbreak of the cycle of violence that would be later called the "Great Calcutta Killing of August 1946". The communal violence spread to Bihar (where Muslims were attacked by Hindus), to Noakhali in Bengal (where Hindus were targeted by Muslims), in Garhmukteshwar in the United Provinces (where Muslims were attacked by Hindus), and on to Rawalpindi in March 1947 in which Hindus were attacked or driven out by Muslims.</div>
       
      <h4 id="gall" class="center">GALLERY :</h4>
      <div id="demo" class="carousel slide" data-ride="carousel">
         <ul  class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            <li data-target="#demo" data-slide-to="4"></li>
         </ul>
         <div  class="carousel-inner">
            <div class="carousel-item active">
               <img src="images/11.jpg" alt="" class="img-fluid mx-auto d-block mb-2">
               <div class="carousel-caption">
                  
               </div>
            </div>
            <div class="carousel-item">
               <img src="images/1st_INC1885.jpg" alt="" class="img-fluid mx-auto d-block mb-2">
               <div class="carousel-caption">
                  
                  <p>1st_INC1885</p>
               </div>
            </div>
            <div class="carousel-item">
               <img src="images/Nehru_gandhi.jpg" alt="" class="img-fluid mx-auto d-block mb-2">
               <div class="carousel-caption">
                  
                  <p>Nehru_gandhi</p>
               </div>
            </div>
            <div class="carousel-item">
               <img src="images/Red_Fort_in_Delhi_03-2016_img1.jpg" alt="" class="img-fluid mx-auto d-block mb-2">
               <div class="carousel-caption">
                  
                  <p>Red_Fort_in_Delhi</p>
               </div>
            </div>
            <div class="carousel-item">
               <img src="images/Surya_Sen_before_1934.jpg" alt="" class="img-fluid mx-auto d-block mb-2">
               <div class="carousel-caption">
                  
                  <p>Surya_Sen_before_1934!</p>
               </div>
            </div>
         </div>
         <a class="carousel-control-prev" href="#demo" data-slide="prev">
         <span class="carousel-control-prev-icon"></span>
         </a>
         <a class="carousel-control-next" href="#demo" data-slide="next">
         <span class="carousel-control-next-icon"></span>
         </a>
      </div>
   </div>
   <!-- /.blog-main -->
   <aside class="col-md-4 blog-sidebar">
      <div class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">About</h4>
         <p class="mb-0">Zindagi<em>Do pal ki</em> </p>
      </div>
      <div class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">Location</h4>
         <hr>
         <p class="mb-0">
            INDIAN  HISTORY
         </p>
      </div>
      <div id="gmap" class="p-3 mb-3 bg-white pc">
         <!--Google map-->
         <div id="map-container-google-3" class="z-depth-1-half map-container-3">
            <iframe src="https://maps.google.com/maps?q=warsaw&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
               style="border:0" allowfullscreen></iframe>
         </div>
      </div>
      <div class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">Summary</h4>
         <hr>
         <p class="mb-0">Zindagi<em>Do pal ki</em> </p>
      </div>
      <div id="video" class="p-3 mb-3 bg-white pc">
         <div  class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/N-XNGXXHNIs?start=48&autoplay=1" allow="autoplay;" allowfullscreen></iframe>
         </div>
      </div>
      <div id="fac" class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">Fun Fact</h4>
         <hr>
         <p class="mb-0">Ravinder ankiit</p>
      </div>
      <div class="p-3">
         <h4 class="font-italic">Archives</h4>
         <ol class="list-unstyled mb-0">
            <li><a href="#">March 2014</a></li>
            <li><a href="#">February 2014</a></li>
            <li><a href="#">January 2014</a></li>
            <li><a href="#">December 2013</a></li>
            <li><a href="#">November 2013</a></li>
            <li><a href="#">October 2013</a></li>
            <li><a href="#">September 2013</a></li>
            <li><a href="#">August 2013</a></li>
            <li><a href="#">July 2013</a></li>
            <li><a href="#">June 2013</a></li>
            <li><a href="#">May 2013</a></li>
            <li><a href="#">April 2013</a></li>
         </ol>
      </div>
      <div class="p-3">
         <h4 class="font-italic">Elsewhere</h4>
         <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
         </ol>
      </div>
   </aside>
   <!-- /.blog-sidebar -->
</div>
<!-- /.row -->
<%- include("postcard") -%>
<!--COMMENTS WILL BE INCLUDE AFTER THE PROBLEM SOLVE-->
<%- include("footer") -%>
