<%- include("header") -%>
<div class="container-fluid mt-4">
   <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image: url(https://source.unsplash.com/random/1600x450/?black); background-size: auto;">
      <div class="col-md-6 px-0">
         <h1 class="display-4 font-italic">MARATHA AND SIKH EMPIRE</h1>
         <p class="lead my-3">Here we will know about Maratha and Sikh Empire  <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
      </div>
   </div>
   <h5 class="font-italic" style="text-align:center;">Page Contents</h5>
   <div class="p-3 mb-3 bg-white text-center pc">
      <a href="#rp" s class="btn btn-dark" style="margin:5px;">Read the Post</a>
      <a href="#gall" s class="btn btn-dark" style="margin:5px;">View Gallery</a>
      <a href="#gmap" s class="btn btn-dark" style="margin:5px;">View on Map</a>
      <a href="#video" s class="btn btn-dark" style="margin:5px;">View a Video </a>
      <a href="#fac" s class="btn btn-dark" style="margin:5px;">Facts</a>
      <a href="#comm" s class="btn btn-dark" style="margin:5px;">Write a Comment</a>
   </div>
</div>
<main role="main" class="container">
<div class="row">
   <div class="col-md-8 blog-main pc">
      <div id="rp" class="blog-post">
         <h2 class="blog-post-title">Maratha and Sikh Empire</h2>
         <p class="blog-post-meta">April 16, 2021 by <a href="#">Ankit</a></p>
         <hr>
         <p>
            Maratha ruled in India in about early 18th Century and Sikh ruled in about 1799 to 1849
         <hr>
         <!--Google map-->
         <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
         <blockquote>
            <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
         </blockquote>
         <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
         <h2>Heading</h2>
         <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
         <h3>Sub-heading</h3>
         <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
         <pre><code>Example code block</code></pre>
         <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
         <h3>Sub-heading</h3>
         <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
         <ul>
            <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
            <li>Donec id elit non mi porta gravida at eget metus.</li>
            <li>Nulla vitae elit libero, a pharetra augue.</li>
         </ul>
         <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
         <ol>
            <li>Vestibulum id ligula porta felis euismod semper.</li>
            <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
            <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
         </ol>
         <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
      </div>
      <!-- /.blog-post -->
      <div class="blog-post">
         <h2 class="blog-post-title">Maratha Empire</h2>
         <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>
         <p>
            In the early 18th century the Maratha Empire extended suzerainty over the Indian subcontinent. Under the Peshwas, the Marathas consolidated and ruled over much of South Asia. The Marathas are credited to a large extent for ending Mughal rule in India.
            <br><br>
            The Maratha kingdom was founded and consolidated by Chatrapati Shivaji, a Maratha aristocrat of the Bhonsle clan.However, the credit for making the Marathas formidable power nationally goes to Peshwa Bajirao I. Historian K.K. Datta wrote that Bajirao I "may very well be regarded as the second founder of the Maratha Empire".
            <br><br>
            By the early 18th century, the Maratha Kingdom had transformed itself into the Maratha Empire under the rule of the Peshwas (prime ministers). In 1737, the Marathas defeated a Mughal army in their capital, in the Battle of Delhi. The Marathas continued their military campaigns against the Mughals, Nizam, Nawab of Bengal and the Durrani Empire to further extend their boundaries. By 1760, the domain of the Marathas stretched across most of the Indian subcontinent. The Marathas even discussed abolishing the Mughal throne and placing Vishwasrao Peshwa on the Mughal imperial throne in Delhi.
            <br><br>
            The empire at its peak stretched from Tamil Nadu[338] in the south, to Peshawar (modern-day Khyber Pakhtunkhwa, Pakistan[339] [note 2]) in the north, and Bengal in the east. The Northwestern expansion of the Marathas was stopped after the Third Battle of Panipat (1761). However, the Maratha authority in the north was re-established within a decade under Peshwa Madhavrao I.
            <br><br>
            Under Madhavrao I, the strongest knights were granted semi-autonomy, creating a confederacy of Maratha states under the Gaekwads of Baroda, the Holkars of Indore and Malwa, the Scindias of Gwalior and Ujjain, the Bhonsales of Nagpur and the Puars of Dhar and Dewas. In 1775, the East India Company intervened in a Peshwa family succession struggle in Pune, which led to the First Anglo-Maratha War, resulting in a Maratha victory.[342] The Marathas remained a major power in India until their defeat in the Second and Third Anglo-Maratha Wars (1805–1818), which resulted in the East India Company controlling most of India.
             </p>
      </div>
      <!-- /.blog-post -->
      <div class="blog-post">
         <h2 class="blog-post-title">Sikh Empire</h2>
         <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

          <p>The Sikh Empire, ruled by members of the Sikh religion, was a political entity that governed the Northwestern regions of the Indian subcontinent. The empire, based around the Punjab region, existed from 1799 to 1849. It was forged, on the foundations of the Khalsa, under the leadership of Maharaja Ranjit Singh (1780–1839) from an array of autonomous Punjabi Misls of the Sikh Confederacy.[citation needed]
            <br><br>
            Maharaja Ranjit Singh consolidated many parts of northern India into an empire. He primarily used his Sikh Khalsa Army that he trained in European military techniques and equipped with modern military technologies. Ranjit Singh proved himself to be a master strategist and selected well-qualified generals for his army. He continuously defeated the Afghan armies and successfully ended the Afghan-Sikh Wars. In stages, he added central Punjab, the provinces of Multan and Kashmir, and the Peshawar Valley to his empire.
            <br><br>
            At its peak, in the 19th century, the empire extended from the Khyber Pass in the west, to Kashmir in the north, to Sindh in the south, running along Sutlej river to Himachal in the east. After the death of Ranjit Singh, the empire weakened, leading to conflict with the British East India Company. The hard-fought first Anglo-Sikh war and second Anglo-Sikh war marked the downfall of the Sikh Empire, making it among the last areas of the Indian subcontinent to be conquered by the British.
            </div>
       
      <h4 id="gall" class="center">GALLERY :</h4>
      <div id="demo" class="carousel slide" data-ride="carousel">
         <ul  class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            <li data-target="#demo" data-slide-to="4"></li>
         </ul>
         <div  class="carousel-inner">
            <div class="carousel-item active">
               <img src="images/Shaniwarwada_gate.jpg" alt="" class="img-fluid mx-auto d-block mb-2">
               <div class="carousel-caption">
                  
                  <p>Shaniwarwada_gate</p>
               </div>
            </div>
            <div class="carousel-item">
               <img src="images/Sikh_Empire_tri-lingual.jpg" alt="" class="img-fluid mx-auto d-block mb-2">
               <div class="carousel-caption">
                  
                  <p>Sikh_Empire_tri-lingual</p>
               </div>
            </div>
            <div class="carousel-item">
               <img src="images/Golden_Temple_India.jpg" alt="" class="img-fluid mx-auto d-block mb-2">
               <div class="carousel-caption">
                  
                  <p>Golden_Temple_India</p>
               </div>
            </div>
            <div class="carousel-item">
               <img src="images/10.jpg" alt="" class="img-fluid mx-auto d-block mb-2">
               <div class="carousel-caption">
                  
                  <p>Maratha Leader</p>
               </div>
            </div>
            <div class="carousel-item">
               <img src="images/India1760_1905.jpg" alt="" class="img-fluid mx-auto d-block mb-2">
               <div class="carousel-caption">
                  
                  <p>India1760_1905</p>
               </div>
            </div>
         </div>
         <a class="carousel-control-prev" href="#demo" data-slide="prev">
         <span class="carousel-control-prev-icon"></span>
         </a>
         <a class="carousel-control-next" href="#demo" data-slide="next">
         <span class="carousel-control-next-icon"></span>
         </a>
      </div>
   </div>
   <!-- /.blog-main -->
   <aside class="col-md-4 blog-sidebar">
      <div class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">About</h4>
         <p class="mb-0">Zindagi<em>Do pal ki</em> </p>
      </div>
      <div class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">Location</h4>
         <hr>
         <p class="mb-0">
            INDIAN  HISTORY
         </p>
      </div>
      <div id="gmap" class="p-3 mb-3 bg-white pc">
         <!--Google map-->
         <div id="map-container-google-3" class="z-depth-1-half map-container-3">
            <iframe src="https://maps.google.com/maps?q=warsaw&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
               style="border:0" allowfullscreen></iframe>
         </div>
      </div>
      <div class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">Summary</h4>
         <hr>
         <p class="mb-0">Zindagi<em>Do pal ki</em> </p>
      </div>
      <div id="video" class="p-3 mb-3 bg-white pc">
         <div  class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/N-XNGXXHNIs?start=48&autoplay=1" allow="autoplay;" allowfullscreen></iframe>
         </div>
      </div>
      <div id="fac" class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">Fun Fact</h4>
         <hr>
         <p class="mb-0">Ravinder ankiit</p>
      </div>
      <div class="p-3">
         <h4 class="font-italic">Archives</h4>
         <ol class="list-unstyled mb-0">
            <li><a href="#">March 2014</a></li>
            <li><a href="#">February 2014</a></li>
            <li><a href="#">January 2014</a></li>
            <li><a href="#">December 2013</a></li>
            <li><a href="#">November 2013</a></li>
            <li><a href="#">October 2013</a></li>
            <li><a href="#">September 2013</a></li>
            <li><a href="#">August 2013</a></li>
            <li><a href="#">July 2013</a></li>
            <li><a href="#">June 2013</a></li>
            <li><a href="#">May 2013</a></li>
            <li><a href="#">April 2013</a></li>
         </ol>
      </div>
      <div class="p-3">
         <h4 class="font-italic">Elsewhere</h4>
         <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
         </ol>
      </div>
   </aside>
   <!-- /.blog-sidebar -->
</div>
<!-- /.row -->
<%- include("postcard") -%>
<!--COMMENTS WILL BE INCLUDE AFTER THE PROBLEM SOLVE-->
<%- include("footer") -%>
