<%- include("header") -%>
<div class="container-fluid mt-4">
   <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image: url(https://source.unsplash.com/random/1600x450/?hampi); background-size: auto;">
      <div class="col-md-6 px-0">
         <h1 class="display-4 font-italic">MONUMENTS OF HAMPI</h1>
         <p class="lead my-3">Hampi was one a wealthy kingdom, but what remains today is a magnificent site of beautiful ruins. Captivating and stunning, the ruins will thrill any traveller who visits this lofty site.
        </p>
         <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
      </div>
   </div>
   <h5 class="font-italic" style="text-align:center;">Page Contents</h5>
   <div class="p-3 mb-3 bg-white text-center pc">
      <a href="#rp" s class="btn btn-dark" style="margin:5px;">Read the Post</a>
      <a href="#gall" s class="btn btn-dark" style="margin:5px;">View Gallery</a>
      <a href="#gmap" s class="btn btn-dark" style="margin:5px;">View on Map</a>
      <a href="#video" s class="btn btn-dark" style="margin:5px;">View a Video </a>
      <a href="#fac" s class="btn btn-dark" style="margin:5px;">Facts</a>
      <a href="#comm" s class="btn btn-dark" style="margin:5px;">Write a Comment</a>
   </div>
</div>
<main role="main" class="container">
<div class="row">
   <div class="col-md-8 blog-main pc">
      <div id="rp" class="blog-post">
         <h2 class="blog-post-title">Monuments of Hampi</h2>
         <p class="blog-post-meta">April 16, 2021 by <a href="#">Ankit</a></p>
         <hr>
         <p>
            From temples to rocks inscribed with text and drawings, you can see it all in Hampi. The best about a trip here is that you can finish visiting all the sites in one day.



         <hr>
         <!--Google map-->
         <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
         <blockquote>
            <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
         </blockquote>
         <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
         <h2>Heading</h2>
         <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
         <h3>Sub-heading</h3>
         <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
         <pre><code>Example code block</code></pre>
         <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
         <h3>Sub-heading</h3>
         <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
         <ul>
            <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
            <li>Donec id elit non mi porta gravida at eget metus.</li>
            <li>Nulla vitae elit libero, a pharetra augue.</li>
         </ul>
         <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
         <ol>
            <li>Vestibulum id ligula porta felis euismod semper.</li>
            <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
            <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
         </ol>
         <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
      </div>
      <!-- /.blog-post -->
      <div class="blog-post">
         <h2 class="blog-post-title">History:</h2>
         <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>
         <p>
            Hampi is situated on the banks of the Tungabhadra River in the eastern part of central Karnataka near the state border with Andhra Pradesh. It is 376 kilometres (234 mi) from Bengaluru, and 165 kilometres (103 mi) from Hubli. The closest railway station is in Hosapete (Hospet), 13 kilometres (8.1 mi) away and the closest airport is 32 kilometres (20 mi) Jindal Vijaynagar Airport in Toranagallu which has connectivity to Bengaluru. Overnight buses and trains also connect Hampi with Goa, and Bengaluru. It is 140 kilometres (87 mi) southeast of the Badami and Aihole archaeological sites.
            <br><br>
            The synonym Hampi—traditionally known as Pampa-kshetra, Kishkindha-kshetra or Bhaskara-kshetra—is derived from Pampa, another name of the goddess Parvati in Hindu theology. According to mythology, the maiden Parvati (who is a reincarnation of Shiva's previous wife, Sati) resolves to marry the loner ascetic Shiva. Her parents learn of her desire and discourage her, but she pursues her desire. Shiva is lost in yogic meditation, oblivious to the world; Parvati appeals to the gods for help to awaken him and gain his attention. Indra sends Kamadeva — the Hindu god of desire, erotic love, attraction, and affection—to awake Shiva from meditation. Kama reaches Shiva and shoots an arrow of desire. Shiva opens his third eye in his forehead and burns Kama to ashes. Parvati does not lose her hope or her resolve to win over Shiva; she begins to live like him and engage in the same activities—asceticism, yogin and tapasya—awakening him and attracting his interest. Shiva meets Parvati in disguised form and tries to discourage her, telling her Shiva's weaknesses and personality problems. Parvati refuses to listen and insists in her resolve. Shiva finally accepts her and they get married.Kama was later brought back to life after the marriage of Shiva and Parvati According to Sthala Purana, Parvati (Pampa) pursued her ascetic, yogini lifestyle on Hemakuta Hill, now a part of Hampi, to win and bring ascetic Shiva back into householder life.[15] Shiva is also called Pampapati (meaning "husband of Pampa").The river near the Hemakuta Hill came to be known as Pampa river. The Sanskrit word Pampa morphed into the Kannada word Hampa and the place Parvati pursued Shiva came to be known as Hampe or Hampi.
            <br><br>
            The site was an early medieval era pilgrimage place known as Pampakshetra. Its fame came from the Kishkindha chapters of the Hindu epic Ramayana, where Rama and Lakshmana meet Hanuman, Sugriva and the monkey army in their search for kidnapped Sita. The Hampi area has many close resemblances to the place described in the epic. The regional tradition believes that it is that place mentioned in the Ramayana, attracting pilgrims. It was brought to light by an engineer named colonel Colin Mackenzie during the 1800s.
            <br><br>
            Ancient to 14th century CE
            <br>
            Emperor Ashoka's Rock Edicts in Nittur and Udegolan—both in Bellary district 269-232 BCE—suggest this region was part of the Maurya Empire during the 3rd century BCE. A Brahmi inscription and a terracotta seal dating to about the 2nd century CE have been found during site excavations.[19][20] The town is mentioned in Badami Chalukya's inscriptions as Pampapura; dating from between the 6th and 8th centuries.
            <br><br>
            By the 10th century, it had become a centre of religious and educational activities during the rule of the Hindu kings Kalyana Chalukyas, whose inscriptions state that the kings made land grants to the Virupaksha temple.Several inscriptions from the 11th to 13th centuries are about the Hampi site, with a mention of gifts to goddess Hampa-devi.[19] Between the 12th and 14th centuries, Hindu kings of the Hoysala Empire of South India built temples to Durga, Hampadevi and Shiva, according to an inscription dated about 1,199 CE. Hampi became the second royal residence; one of the Hoysala kings was known as Hampeya-Odeya or "lord of Hampi". According to Burton Stein, the Hoysala-period inscriptions call Hampi by alternate names such as Virupakshapattana, Vijaya Virupakshapura in honour of the old Virupaksha (Shiva) temple there.
            </p>
      </div>
      <!-- /.blog-post -->
      <div class="blog-post">
         <h2 class="blog-post-title">Archaeological site</h2>
         <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

          <p>
            Hampi and its nearby region remained a contested and fought-over region claimed by the local chiefs, the Hyderabad Muslim nizams, the Maratha Hindu kings, and Hyder Ali and his son Tipu Sultan of Mysore through the 18th century. In 1799, Tipu Sultan was defeated and killed when the British forces and Wadiyar dynasty aligned. The region then came under British influence.[39] The ruins of Hampi were surveyed in 1800 by Scottish Colonel Colin Mackenzie, first Surveyor General of India. Mackenzie wrote that the Hampi site was abandoned and only wildlife live there. The 19th-century speculative articles by historians who followed Mackenzie blamed the 18th-century armies of Haidar Ali and the Marathas for the damage to the Hampi monuments.
            <br><br>

            The Hampi site remained largely ignored until the mid-19th century, when Alexander Greenlaw visited and photographed the site in 1856.He created an archive of 60 calotype photographs of temples and royal structures that were standing in 1856. These photographs were held in a private collection in the United Kingdom and were not published until 1980.They are the most valuable source of the mid-19th-century state of Hampi monuments to scholars.
            <br><br>
            A translation of the memoirs written by Abdul Razzaq, a Persian envoy in the court of Devaraya II (1424–1446), published in the early 1880s described some monuments of the abandoned site. This translation, for the first time, uses Arabic terms such as "zenana" to describe some of the Hampi monuments. Some of these terms became the names thereafter. Alexander Rea, an officer of the Archaeological Survey department of the Madras Presidency within British India, published his survey of the site in 1885.Robert Sewell published his scholarly treatise A Forgotten Empire[42] in 1900, bringing Hampi to the widespread attention of scholars.The growing interest led Rea and his successor Longhurst to clear and repair the Hampi group of monuments.
            <br><br>
            The site is significant historically and archaeologically, for the Vijayanagara period and before.The Archaeological Survey of India continues to conduct excavations in the area.</p>
</div>
        
      <h4 id="gall" class="center">GALLERY :</h4>
      <div id="demo" class="carousel slide" data-ride="carousel">
         <ul  class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            <li data-target="#demo" data-slide-to="4"></li>
         </ul>
         <div  class="carousel-inner">
            <div class="carousel-item active">
               <img src="https://source.unsplash.com/random/1920x1080/?hampi" alt="Los Angeles" width="1100" height="500">
               <div class="carousel-caption">
                  
               </div>
            </div>
            <div class="carousel-item">
               <img src="https://source.unsplash.com/random/1920x1080/?hampi" alt="Chicago" width="1100" height="500">
               <div class="carousel-caption">
                 
               </div>
            </div>
            <div class="carousel-item">
               <img src="https://source.unsplash.com/random/1920x1080/?hampi" alt="New York" width="1100" height="500">
               <div class="carousel-caption">
                 
               </div>
            </div>
            <div class="carousel-item">
               <img src="https://source.unsplash.com/random/1920x1080/?hampi" alt="Chicago" width="1100" height="500">
               <div class="carousel-caption">
                  
               </div>
            </div>
            <div class="carousel-item">
               <img src="https://source.unsplash.com/random/1920x1080/?hampi" alt="Chicago" width="1100" height="500">
               <div class="carousel-caption">
                 
               </div>
            </div>
         </div>
         <a class="carousel-control-prev" href="#demo" data-slide="prev">
         <span class="carousel-control-prev-icon"></span>
         </a>
         <a class="carousel-control-next" href="#demo" data-slide="next">
         <span class="carousel-control-next-icon"></span>
         </a>
      </div>
   </div>
   <!-- /.blog-main -->
   <aside class="col-md-4 blog-sidebar">
      <div class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">About</h4>
         <p class="mb-0">Zindagi<em>Do pal ki</em> </p>
      </div>
      <div class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">Location</h4>
         <hr>
         <p class="mb-0">
            Vijayanagara district <br>- Karnataka, India
         </p>
      </div>
      <div id="gmap" class="p-3 mb-3 bg-white pc">
         <!--Google map-->
         <div id="map-container-google-3" class="z-depth-1-half map-container-3">
            <iframe src="https://maps.google.com/maps?q=warsaw&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
               style="border:0" allowfullscreen></iframe>
         </div>
      </div>
      <div class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">Summary</h4>
         <hr>
         <p class="mb-0">Zindagi<em>Do pal ki</em> </p>
      </div>
      <div id="video" class="p-3 mb-3 bg-white pc">
         <div  class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/N-XNGXXHNIs?start=48&autoplay=1" allow="autoplay;" allowfullscreen></iframe>
         </div>
      </div>
      <div id="fac" class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">Fun Fact</h4>
         <hr>
         <p class="mb-0">Ravinder ankiit</p>
      </div>
      <div class="p-3">
         <h4 class="font-italic">Archives</h4>
         <ol class="list-unstyled mb-0">
            <li><a href="#">March 2014</a></li>
            <li><a href="#">February 2014</a></li>
            <li><a href="#">January 2014</a></li>
            <li><a href="#">December 2013</a></li>
            <li><a href="#">November 2013</a></li>
            <li><a href="#">October 2013</a></li>
            <li><a href="#">September 2013</a></li>
            <li><a href="#">August 2013</a></li>
            <li><a href="#">July 2013</a></li>
            <li><a href="#">June 2013</a></li>
            <li><a href="#">May 2013</a></li>
            <li><a href="#">April 2013</a></li>
         </ol>
      </div>
      <div class="p-3">
         <h4 class="font-italic">Elsewhere</h4>
         <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
         </ol>
      </div>
   </aside>
   <!-- /.blog-sidebar -->
</div>
<!-- /.row -->
<%- include("postcard") -%>
<!--COMMENTS WILL BE INCLUDE AFTER THE PROBLEM SOLVE-->
<%- include("footer") -%>
