<%- include("header") -%>
<div class="container-fluid mt-4">
   <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image: url(https://source.unsplash.com/random/1600x450/?sanchi); background-size: auto;">
      <div class="col-md-6 px-0">
         <h1 class="display-4 font-italic">SANCHI STUPA</h1>
         <p class="lead my-3">This ancient complex was built in the 3rd century BC by the great Mauryan King Ashoka. The complex is known for having the oldest stone structures in India.
        </p>
         <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
      </div>
   </div>
   <h5 class="font-italic" style="text-align:center;">Page Contents</h5>
   <div class="p-3 mb-3 bg-white text-center pc">
      <a href="#rp" s class="btn btn-dark" style="margin:5px;">Read the Post</a>
      <a href="#gall" s class="btn btn-dark" style="margin:5px;">View Gallery</a>
      <a href="#gmap" s class="btn btn-dark" style="margin:5px;">View on Map</a>
      <a href="#video" s class="btn btn-dark" style="margin:5px;">View a Video </a>
      <a href="#fac" s class="btn btn-dark" style="margin:5px;">Facts</a>
      <a href="#comm" s class="btn btn-dark" style="margin:5px;">Write a Comment</a>
   </div>
</div>
<main role="main" class="container">
<div class="row">
   <div class="col-md-8 blog-main pc">
      <div id="rp" class="blog-post">
         <h2 class="blog-post-title">Sanchi Stupa</h2>
         <p class="blog-post-meta">April 16, 2021 by <a href="#">Ankit</a></p>
         <hr>
         <p>

            At the complex you will find many stupas of Buddha made from stone. The Great Stupa of Sanchi is a site that you have to visit at the Sanchi Stupa.





         <hr>
         <!--Google map-->
         <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
         <blockquote>
            <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
         </blockquote>
         <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
         <h2>Heading</h2>
         <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
         <h3>Sub-heading</h3>
         <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
         <pre><code>Example code block</code></pre>
         <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
         <h3>Sub-heading</h3>
         <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
         <ul>
            <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
            <li>Donec id elit non mi porta gravida at eget metus.</li>
            <li>Nulla vitae elit libero, a pharetra augue.</li>
         </ul>
         <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
         <ol>
            <li>Vestibulum id ligula porta felis euismod semper.</li>
            <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
            <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
         </ol>
         <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
      </div>
      <!-- /.blog-post -->
      <div class="blog-post">
         <h2 class="blog-post-title">History:</h2>
         <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>
         <p>
            Maurya Period (3rd century BCE)
            <br><br>
            The "Great Stupa" at Sanchi is the oldest structure and was originally commissioned by the emperor Ashoka the Great of the Maurya Empire in the 3rd century BCE. Its nucleus was a hemispherical brick structure built over the relics of the Buddha, with a raised terrace encompassing its base, and a railing and stone umbrella on the summit, the chatra, a parasol-like structure symbolizing high rank. The original Stupa only had about half the diameter of today's stupa, which is the result of enlargement by the Sungas. It was covered in brick, in contrast to the stones that now cover it.
            <br><br>
            According to one version of the Mahavamsa, the Buddhist chronicle of Sri Lanka, Ashoka was closely connected to the region of Sanchi. When he was heir-apparent and was journeying as Viceroy to Ujjain, he is said to have halted at Vidisha (10 kilometers from Sanchi), and there married the daughter of a local banker. She was called Devi and later gave Ashoka two sons, Ujjeniya and Mahendra, and a daughter Sanghamitta. After Ashoka's accession, Mahendra headed a Buddhist mission, sent probably under the auspices of the Emperor, to Sri Lanka, and that before setting out to the island he visited his mother at Chetiyagiri near Vidisa, thought to be Sanchi. He was lodged there in a sumptuous vihara or monastery, which she herself is said to have had erected.
            </p>
      </div>
      <!-- /.blog-post -->
      <div class="blog-post">
         <h2 class="blog-post-title">Ashoka Pillar</h2>
         <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

          <p>The capital of the Sanchi pillar of Ashoka, as discovered , and simulation of original appearance .It is very similar to the Lion Capital of Ashoka at Sarnath, except for the abacus, here adorned with flame palmettes and facing geese, 250 BCE. Sanchi Archaeological Museum.
            <br><br>
            A pillar of finely polished sandstone, one of the Pillars of Ashoka, was also erected on the side of the main Torana gateway. The bottom part of the pillar still stands. The upper parts of the pillar are at the nearby Sanchi Archaeological Museum. The capital consists in four lions, which probably supported a Wheel of Law, as also suggested by later illustrations among the Sanchi reliefs. The pillar has an Ashokan inscription (Schism Edict) and an inscription in the ornamental Sankha Lipi from the Gupta period. The Ashokan inscription is engraved in early Brahmi characters. It is unfortunately much damaged, but the commands it contains appear to be the same as those recorded in the Sarnath and Kausambi edicts, which together form the three known instances of Ashoka's "Schism Edict". It relates to the penalties for schism in the Buddhist sangha:
            the path is prescribed both for the monks and for the nuns. As long as (my) sons and great-grandsons (shall reign; and) as long as the Moon and the Sun (shall endure), the monk or nun who shall cause divisions in the Sangha, shall be compelled to put on white robes and to reside apart. For what is my desire? That the Sangha may be united and may long endure.
            <br><br>
            — Edict of Ashoka on the Sanchi pillar.
            The pillar, when intact, was about 42 feet in height and consisted of round and slightly tapering monolithic shaft, with bell-shaped capital surmounted by an abacus and a crowning ornament of four lions, set back to back, the whole finely finished and polished to a remarkable luster from top to bottom. The abacus is adorned with four flame palmette designs separated one from the other by pairs of geese, symbolical perhaps of the flock of the Buddha's disciples. The lions from the summit, though now quite disfigured, still testify to the skills of the sculptors.
            <br><br>
            The sandstone out of which the pillar is carved came from the quarries of Chunar several hundred miles away, implying that the builders were able to transport a block of stone over forty feet in length and weighing almost as many tons over such a distance. They probably used water transport, using rafts during the rainy season up until the Ganges, Jumna and Betwa rivers.
            
            </p>
</div>
        
      <h4 id="gall" class="center">GALLERY :</h4>
      <div id="demo" class="carousel slide" data-ride="carousel">
         <ul  class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            <li data-target="#demo" data-slide-to="4"></li>
         </ul>
         <div  class="carousel-inner">
            <div class="carousel-item active">
               <img src="https://source.unsplash.com/random/1920x1080/?sanchi" alt="Los Angeles" width="1100" height="500">
               <div class="carousel-caption">
                 
               </div>
            </div>
            <div class="carousel-item">
               <img src="https://source.unsplash.com/random/1920x1080/?sanchi" alt="Chicago" width="1100" height="500">
               <div class="carousel-caption">
                  
               </div>
            </div>
            <div class="carousel-item">
               <img src="https://source.unsplash.com/random/1920x1080/?sanchi" alt="New York" width="1100" height="500">
               <div class="carousel-caption">
                 
               </div>
            </div>
            <div class="carousel-item">
               <img src="https://source.unsplash.com/random/1920x1080/?sanchi" alt="Chicago" width="1100" height="500">
               <div class="carousel-caption">
                 
               </div>
            </div>
            <div class="carousel-item">
               <img src="https://source.unsplash.com/random/1920x1080/?sanchi" alt="Chicago" width="1100" height="500">
               <div class="carousel-caption">
                  
               </div>
            </div>
         </div>
         <a class="carousel-control-prev" href="#demo" data-slide="prev">
         <span class="carousel-control-prev-icon"></span>
         </a>
         <a class="carousel-control-next" href="#demo" data-slide="next">
         <span class="carousel-control-next-icon"></span>
         </a>
      </div>
   </div>
   <!-- /.blog-main -->
   <aside class="col-md-4 blog-sidebar">
      <div class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">About</h4>
         <p class="mb-0">Zindagi<em>Do pal ki</em> </p>
      </div>
      <div class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">Location</h4>
         <hr>
         <p class="mb-0">
           Bhopal <br>-Madhya Pradesh
         </p>
      </div>
      <div id="gmap" class="p-3 mb-3 bg-white pc">
         <!--Google map-->
         <div id="map-container-google-3" class="z-depth-1-half map-container-3">
            <iframe src="https://maps.google.com/maps?q=warsaw&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
               style="border:0" allowfullscreen></iframe>
         </div>
      </div>
      <div class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">Summary</h4>
         <hr>
         <p class="mb-0">Zindagi<em>Do pal ki</em> </p>
      </div>
      <div id="video" class="p-3 mb-3 bg-white pc">
         <div  class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/N-XNGXXHNIs?start=48&autoplay=1" allow="autoplay;" allowfullscreen></iframe>
         </div>
      </div>
      <div id="fac" class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">Fun Fact</h4>
         <hr>
         <p class="mb-0">Ravinder ankiit</p>
      </div>
      <div class="p-3">
         <h4 class="font-italic">Archives</h4>
         <ol class="list-unstyled mb-0">
            <li><a href="#">March 2014</a></li>
            <li><a href="#">February 2014</a></li>
            <li><a href="#">January 2014</a></li>
            <li><a href="#">December 2013</a></li>
            <li><a href="#">November 2013</a></li>
            <li><a href="#">October 2013</a></li>
            <li><a href="#">September 2013</a></li>
            <li><a href="#">August 2013</a></li>
            <li><a href="#">July 2013</a></li>
            <li><a href="#">June 2013</a></li>
            <li><a href="#">May 2013</a></li>
            <li><a href="#">April 2013</a></li>
         </ol>
      </div>
      <div class="p-3">
         <h4 class="font-italic">Elsewhere</h4>
         <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
         </ol>
      </div>
   </aside>
   <!-- /.blog-sidebar -->
</div>
<!-- /.row -->
<%- include("postcard") -%>
<!--COMMENTS WILL BE INCLUDE AFTER THE PROBLEM SOLVE-->
<%- include("footer") -%>
