<%- include("header") -%>
<div class="container-fluid mt-4">
   <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image: url(https://source.unsplash.com/random/1600x450/?tajmahal); background-size: auto;">
      <div class="col-md-6 px-0">
         <h1 class="display-4 font-italic">TAJ MAHAL</h1>
         <p class="lead my-3">The Mughal Emperor Shah Jahan built this mausoleum for his darling wife, Mumtaz Mahal, who passed away while giving birth to their 14th child. A testimony to love, this monument looks stunning even from afar.</p>
         <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
      </div>
   </div>
   <h5 class="font-italic" style="text-align:center;">Page Contents</h5>
   <div class="p-3 mb-3 bg-white text-center pc">
      <a href="#rp" s class="btn btn-dark" style="margin:5px;">Read the Post</a>
      <a href="#gall" s class="btn btn-dark" style="margin:5px;">View Gallery</a>
      <a href="#gmap" s class="btn btn-dark" style="margin:5px;">View on Map</a>
      <a href="#video" s class="btn btn-dark" style="margin:5px;">View a Video </a>
      <a href="#fac" s class="btn btn-dark" style="margin:5px;">Facts</a>
      <a href="#comm" s class="btn btn-dark" style="margin:5px;">Write a Comment</a>
   </div>
</div>
<main role="main" class="container">
<div class="row">
   <div class="col-md-8 blog-main pc">
      <div id="rp" class="blog-post">
         <h2 class="blog-post-title">Taj Mahal</h2>
         <p class="blog-post-meta">April 16, 2021 by <a href="#">Ankit</a></p>
         <hr>
         <p>

            Entry to the tombs are restricted, but many tourists walk around the garden and the mausoleum to bask in the bedazzling artwork and sheen of the marbles from across the world and  28 types of semi-precious stones.
            <br><br>
            The tomb is the centrepiece of a 17-hectare (42-acre) complex, which includes a mosque and a guest house, and is set in formal gardens bounded on three sides by a crenellated wall.

         <hr>
         <!--Google map-->
         <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
         <blockquote>
            <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
         </blockquote>
         <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
         <h2>Heading</h2>
         <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
         <h3>Sub-heading</h3>
         <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
         <pre><code>Example code block</code></pre>
         <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
         <h3>Sub-heading</h3>
         <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
         <ul>
            <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
            <li>Donec id elit non mi porta gravida at eget metus.</li>
            <li>Nulla vitae elit libero, a pharetra augue.</li>
         </ul>
         <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
         <ol>
            <li>Vestibulum id ligula porta felis euismod semper.</li>
            <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
            <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
         </ol>
         <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
      </div>
      <!-- /.blog-post -->
      <div class="blog-post">
         <h2 class="blog-post-title">History:</h2>
         <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>
         <p>It was commissioned in 1632 by the Mughal emperor Shah Jahan (reigned from 1628 to 1658) to house the tomb of his favourite wife, Mumtaz Mahal; it also houses the tomb of Shah Jahan himself.
            <br><br>
            Construction of the mausoleum was essentially completed in 1643, but work continued on other phases of the project for another 10 years. The Taj Mahal complex is believed to have been completed in its entirety in 1653 at a cost estimated at the time to be around 32 million rupees, which in 2020 would be approximately 70 billion rupees (about U.S. $956 million). The construction project employed some 20,000 artisans under the guidance of a board of architects led by the court architect to the emperor, Ustad Ahmad Lahauri.
            <br><br>
            The Taj Mahal was designated as a UNESCO World Heritage Site in 1983 for being "the jewel of Muslim art in India and one of the universally admired masterpieces of the world's heritage". It is regarded by many as the best example of Mughal architecture and a symbol of India's rich history. The Taj Mahal attracts 7–8 million visitors a year and in 2007, it was declared a winner of the New 7 Wonders of the World (2000–2007) initiative.
        </p>
      </div>
      <!-- /.blog-post -->
      <div class="blog-post">
         <h2 class="blog-post-title">Tomb</h2>
         <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

          <p>The tomb is the central focus of the entire complex of the Taj Mahal. It is a large, white marble structure standing on a square plinth and consists of a symmetrical building with an iwan (an arch-shaped doorway) topped by a large dome and finial. Like most Mughal tombs, the basic elements are Indo-Islamic in origin.[16]
            <br><br>
            The base structure is a large multi-chambered cube with chamfered corners forming an unequal eight-sided structure that is approximately 55 metres (180 ft) on each of the four long sides. Each side of the iwan is framed with a huge pishtaq or vaulted archway with two similarly shaped arched balconies stacked on either side. This motif of stacked pishtaqs is replicated on the chamfered corner areas, making the design completely symmetrical on all sides of the building. Four minarets frame the tomb, one at each corner of the plinth facing the chamfered corners. The main chamber houses the false sarcophagi of Mumtaz Mahal and Shah Jahan; the actual graves are at a lower level.</p>
</div>
        <!-- /.blog-post -->
        <div class="blog-post">
           <h2 class="blog-post-title">Tourism</h2>
           <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

            <p>The Taj Mahal attracts a large number of tourists. UNESCO documented more than 2 million visitors in 2001,[59] which had increased to about 7–8 million in 2014.[3] A two-tier pricing system is in place, with a significantly lower entrance fee for Indian citizens and a more expensive one for foreigners. In 2018, the fee for Indian citizens was 50 INR, for foreign tourists 1,100 INR.[60] Most tourists visit in the cooler months of October, November and February. Polluting traffic is not allowed near the complex and tourists must either walk from parking areas or catch an electric bus. The Khawasspuras (northern courtyards) are currently being restored for use as a new visitor centre.In 2019, in order to address overtourism, the site instituted fines for visitors who stayed longer than three hours.
                <br><br>
                The small town to the south of the Taj, known as Taj Ganji or Mumtazabad, was initially constructed with caravanserais, bazaars and markets to serve the needs of visitors and workers.Lists of recommended travel destinations often feature the Taj Mahal, which also appears in several listings of seven wonders of the modern world, including the recently announced New Seven Wonders of the World, a recent poll with 100 million votes.
                <br><br>
                The grounds are open from 06:00 to 19:00 weekdays, except for Friday when the complex is open for prayers at the mosque between 12:00 and 14:00. The complex is open for night viewing on the day of the full moon and two days before and after,[66] excluding Fridays and the month of Ramadan.
                <br><br>
                Foreign dignitaries often visit the Taj Mahal on trips to India. Notable figures who have travelled to the site include Dwight Eisenhower, Jacqueline Kennedy, Jimmy Carter, George H.W. Bush, George Harrison, Mark Zuckerberg, Vladimir Putin, Princess Diana, Donald Trump, and Justin Trudeau.</p>
              </div>
      <!-- /.blog-post -->
      <h4 id="gall" class="center">GALLERY :</h4>
      <div id="demo" class="carousel slide" data-ride="carousel">
         <ul  class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            <li data-target="#demo" data-slide-to="4"></li>
         </ul>
         <div  class="carousel-inner">
            <div class="carousel-item active">
               <img src="https://source.unsplash.com/random/1920x1080/?tajmahal4" alt="Los Angeles" width="1100" height="500">
               <div class="carousel-caption">
                
               </div>
            </div>
            <div class="carousel-item">
               <img src="https://source.unsplash.com/random/1920x1080/?tajmahal4" alt="Chicago" width="1100" height="500">
               <div class="carousel-caption">
                 
               </div>
            </div>
            <div class="carousel-item">
               <img src="https://source.unsplash.com/random/1920x1080/?tajmahal4" alt="New York" width="1100" height="500">
               <div class="carousel-caption">

               </div>
            </div>
            <div class="carousel-item">
               <img src="https://source.unsplash.com/random/1920x1080/?tajmahal4" alt="Chicago" width="1100" height="500">
               <div class="carousel-caption">
                  
               </div>
            </div>
            <div class="carousel-item">
               <img src="https://source.unsplash.com/random/1920x1080/?tajmahal4" alt="Chicago" width="1100" height="500">
               <div class="carousel-caption">
                 
               </div>
            </div>
         </div>
         <a class="carousel-control-prev" href="#demo" data-slide="prev">
         <span class="carousel-control-prev-icon"></span>
         </a>
         <a class="carousel-control-next" href="#demo" data-slide="next">
         <span class="carousel-control-next-icon"></span>
         </a>
      </div>
   </div>
   <!-- /.blog-main -->
   <aside class="col-md-4 blog-sidebar">
      <div class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">About</h4>
         <p class="mb-0">Zindagi<em>Do pal ki</em> </p>
      </div>
      <div class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">Location</h4>
         <hr>
         <p class="mb-0">
            Uttar Pradesh <br>
            - AGRA
         </p>
      </div>
      <div id="gmap" class="p-3 mb-3 bg-white pc">
         <!--Google map-->
         <div id="map-container-google-3" class="z-depth-1-half map-container-3">
            <iframe src="https://maps.google.com/maps?q=warsaw&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
               style="border:0" allowfullscreen></iframe>
         </div>
      </div>
      <div class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">Summary</h4>
         <hr>
         <p class="mb-0">Zindagi<em>Do pal ki</em> </p>
      </div>
      <div id="video" class="p-3 mb-3 bg-white pc">
         <div  class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/N-XNGXXHNIs?start=48&autoplay=1" allow="autoplay;" allowfullscreen></iframe>
         </div>
      </div>
      <div id="fac" class="p-3 mb-3 bg-white pc">
         <h4 class="font-italic">Fun Fact</h4>
         <hr>
         <p class="mb-0">Ravinder ankiit</p>
      </div>
      <div class="p-3">
         <h4 class="font-italic">Archives</h4>
         <ol class="list-unstyled mb-0">
            <li><a href="#">March 2014</a></li>
            <li><a href="#">February 2014</a></li>
            <li><a href="#">January 2014</a></li>
            <li><a href="#">December 2013</a></li>
            <li><a href="#">November 2013</a></li>
            <li><a href="#">October 2013</a></li>
            <li><a href="#">September 2013</a></li>
            <li><a href="#">August 2013</a></li>
            <li><a href="#">July 2013</a></li>
            <li><a href="#">June 2013</a></li>
            <li><a href="#">May 2013</a></li>
            <li><a href="#">April 2013</a></li>
         </ol>
      </div>
      <div class="p-3">
         <h4 class="font-italic">Elsewhere</h4>
         <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
         </ol>
      </div>
   </aside>
   <!-- /.blog-sidebar -->
</div>
<!-- /.row -->
<%- include("postcard") -%>
<!--COMMENTS WILL BE INCLUDE AFTER THE PROBLEM SOLVE-->
<%- include("footer") -%>
