<%- include("header") -%>
<h1>THIS IS TEST PAGE</h1>
<h3>Just duplicate the tajmal file to create hisotry pages</h3>
<h4>The first link in the timeline is tajmal.ejs</h4>
<h5>comments are not added so you dont get any error</h5>
<h5>Set up MongoDb then comments can we added without any error</h5>
<!--THIS IS COMMENTS CODE JUST REMOVE THE 0 & html commemts TO MAKE THE COMMENTS WORKS-->

<%- include("comments") -%>

<%- include("footer") -%>
