<link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>
<div class="container animated animated-done bootdey" data-animate="fadeIn" data-animate-delay="0.05" style="animation-delay: 0.05s;">
   <hr class="hr-lg mt-0 mb-2 w-10 mx-auto hr-primary">
   <h2 class="text-slab text-center text-uppercase mt-0 mb-5">
      Events <span id="jump" class="font-weight-bold">Arish</span>
   </h2>
   <div class="timeline timeline-left mx-lg-10">
      <div class="timeline-breaker">MONUMENTS </div>
      <!--Timeline item 1-->
      <a href="AgraFort.ejs">
         <div class="timeline-item mt-3 row text-center p-2">
            <div class="col font-weight-bold text-md-right">AGRA FORT</div>
            <div class="col font-weight-bold text-md-left">1565</div>
            <div class="col-12 text-xs text-muted">Click here to know more</div>
         </div>
      </a>
      <!--Timeline item 2 - NOTE: the .right class-->
      <a href="bibiKaMaqbara.ejs">
         <div class="timeline-item mt-3 row text-center p-2">
            <div class="col font-weight-bold text-md-right">BIBI KA MAQBARA</div>
            <div class="col font-weight-bold text-md-left">1661</div>
            <div class="col-12 text-xs text-muted">Click here to know more</div>
         </div>
      </a>
      <!--Copy from here till-->
      <a href="charminar.ejs">
         <div class="timeline-item mt-3 row text-center p-2">
            <div class="col font-weight-bold text-md-right">CHARMINAR</div>
            <div class="col font-weight-bold text-md-left">1591</div>
            <div class="col-12 text-xs text-muted">Click here to know more</div>
         </div>
      </a>
      <!--here-->
      <a href="fatehpursikri.ejs">
         <div class="timeline-item mt-3 row text-center p-2">
            <div class="col font-weight-bold text-md-right">FATEHPUR SIKRI</div>
            <div class="col font-weight-bold text-md-left">1571</div>
            <div class="col-12 text-xs text-muted">Click here to know more</div>
         </div>
      </a>
      <a href="gatewayofindia.ejs">
         <div class="timeline-item mt-3 row text-center p-2">
            <div class="col font-weight-bold text-md-right">GATEWAY OF INDIA</div>
            <div class="col font-weight-bold text-md-left">1911</div>
            <div class="col-12 text-xs text-muted">Click here to know more</div>
         </div>
      </a>

      <a href="goldentemple.ejs">
         <div class="timeline-item mt-3 row text-center p-2">
            <div class="col font-weight-bold text-md-right">GOLDEN TEMPLE</div>
            <div class="col font-weight-bold text-md-left">1574</div>
            <div class="col-12 text-xs text-muted">Click here to know more</div>
         </div>
      </a>

      <a href="humayuntomb.ejs">
         <div class="timeline-item mt-3 row text-center p-2">
            <div class="col font-weight-bold text-md-right">HUMAYUN'S TOMB</div>
            <div class="col font-weight-bold text-md-left">1508</div>
            <div class="col-12 text-xs text-muted">Click here to know more</div>
         </div>
      </a>
      <a href="jamamasjid.ejs">
      <div class="timeline-item mt-3 row text-center p-2">
         <div class="col font-weight-bold text-md-right">JAMA MASJID</div>
         <div class="col font-weight-bold text-md-left">1650</div>
         <div class="col-12 text-xs text-muted">Click here to know more</div>
      </div>
   </a>
   <a href="jantarmantar.ejs">
      <div class="timeline-item mt-3 row text-center p-2">
         <div class="col font-weight-bold text-md-right">JANTAR MANTAR</div>
         <div class="col font-weight-bold text-md-left">1735</div>
         <div class="col-12 text-xs text-muted">Click here to know more</div>
      </div>
   </a>
   <a href="konarksuntemple.ejs">
      <div class="timeline-item mt-3 row text-center p-2">
         <div class="col font-weight-bold text-md-right">KONARK SUN TEMPLE</div>
         <div class="col font-weight-bold text-md-left">13th Century</div>
         <div class="col-12 text-xs text-muted">Click here to know more</div>
      </div>
   </a>
   <a href="monumentsofhampi.ejs">
      <div class="timeline-item mt-3 row text-center p-2">
         <div class="col font-weight-bold text-md-right">MONUMENTS OF HAMPI</div>
         <div class="col font-weight-bold text-md-left">14th century</div>
         <div class="col-12 text-xs text-muted">Click here to know more</div>
      </div>
   </a>
   <a href="qutubminar.ejs">
      <div class="timeline-item mt-3 row text-center p-2">
         <div class="col font-weight-bold text-md-right">QUTUB MINAR</div>
         <div class="col font-weight-bold text-md-left">1199</div>
         <div class="col-12 text-xs text-muted">Click here to know more</div>
      </div>
   </a>
   <a href="redfort.ejs">
      <div class="timeline-item mt-3 row text-center p-2">
         <div class="col font-weight-bold text-md-right">RED FORT</div>
         <div class="col font-weight-bold text-md-left">1639</div>
         <div class="col-12 text-xs text-muted">Click here to know more</div>
      </div>
   </a>
   <a href="sanchistupa.ejs">
      <div class="timeline-item mt-3 row text-center p-2">
         <div class="col font-weight-bold text-md-right">SANCHI STUPA</div>
         <div class="col font-weight-bold text-md-left">3rd Century</div>
         <div class="col-12 text-xs text-muted">Click here to know more</div>
      </div>
   </a>
   <a href="tajmahal.ejs">
      <div class="timeline-item mt-3 row text-center p-2">
         <div class="col font-weight-bold text-md-right">TAJ MAHAL</div>
         <div class="col font-weight-bold text-md-left">1643</div>
         <div class="col-12 text-xs text-muted">Click here to know more</div>
      </div>
   </a>
   <!--For breaker copy from here to-->
   <div class="timeline-breaker timeline-breaker-middle">RULING HISTORY</div>
   <!--here-->
   <a href="prehistoricera.ejs">
      <div class="timeline-item mt-3 row text-center p-2">
         <div class="col font-weight-bold text-md-right">PRE HISTORIC ERA</div>
         <div class="col font-weight-bold text-md-left">until c. 3300 BCE</div>
         <div class="col-12 text-xs text-muted">Click here to know more</div>
      </div>
   </a>
   <a href="bronzeage.ejs">
      <div class="timeline-item mt-3 row text-center p-2">
         <div class="col font-weight-bold text-md-right">BRONZE AGE</div>
         <div class="col font-weight-bold text-md-left">3300 BCE</div>
         <div class="col-12 text-xs text-muted">Click here to know more</div>
      </div>
   </a>
   <a href="ironera.ejs">
      <div class="timeline-item mt-3 row text-center p-2">
         <div class="col font-weight-bold text-md-right">IRON ERA</div>
         <div class="col font-weight-bold text-md-left">c. 1500 – 600 BCE</div>
         <div class="col-12 text-xs text-muted">Click here to know more</div>
      </div>
   </a>
   <a href="magadha.ejs">
      <div class="timeline-item mt-3 row text-center p-2">
         <div class="col font-weight-bold text-md-right">MAGADHA</div>
         <div class="col font-weight-bold text-md-left">c. 600–413 BCE</div>
         <div class="col-12 text-xs text-muted">Click here to know more</div>
      </div>
   </a>
   <a href="mayuraempire.ejs">
      <div class="timeline-item mt-3 row text-center p-2">
         <div class="col font-weight-bold text-md-right">MAYURA EMPIRE</div>
         <div class="col font-weight-bold text-md-left">322–185 BCE</div>
         <div class="col-12 text-xs text-muted">Click here to know more</div>
      </div>
   </a>
   <a href="delhisultanate.ejs">
      <div class="timeline-item mt-3 row text-center p-2">
         <div class="col font-weight-bold text-md-right">DELHI SULTANATE</div>
         <div class="col font-weight-bold text-md-left">13th century</div>
         <div class="col-12 text-xs text-muted">Click here to know more</div>
      </div>
   </a>
   <a href="vijayanagaraEmpire.ejs">
      <div class="timeline-item mt-3 row text-center p-2">
         <div class="col font-weight-bold text-md-right">VIJAYNAGARA EMPIRE</div>
         <div class="col font-weight-bold text-md-left">1336</div>
         <div class="col-12 text-xs text-muted">Click here to know more</div>
      </div>
   </a>
   <a href="mughalempire.ejs">
      <div class="timeline-item mt-3 row text-center p-2">
         <div class="col font-weight-bold text-md-right">MUGHAL EMPIRE</div>
         <div class="col font-weight-bold text-md-left">1526</div>
         <div class="col-12 text-xs text-muted">Click here to know more</div>
      </div>
   </a>
   <a href="marathaandsikhempire.ejs">
      <div class="timeline-item mt-3 row text-center p-2">
         <div class="col font-weight-bold text-md-right">MARATHA AND SIKH EMPIRE</div>
         <div class="col font-weight-bold text-md-left">18th century</div>
         <div class="col-12 text-xs text-muted">Click here to know more</div>
      </div>
   </a>
   <a href="eastindiacompany.ejs">
      <div class="timeline-item mt-3 row text-center p-2">
         <div class="col font-weight-bold text-md-right">EAST INDIA COMPANY RULE IN INDIA</div>
         <div class="col font-weight-bold text-md-left">1600</div>
         <div class="col-12 text-xs text-muted">Click here to know more</div>
      </div>
   </a>
   <a href="britishraj.ejs">
      <div class="timeline-item mt-3 row text-center p-2">
         <div class="col font-weight-bold text-md-right">BRITISH RAJ</div>
         <div class="col font-weight-bold text-md-left">1858-1947</div>
         <div class="col-12 text-xs text-muted">Click here to know more</div>
      </div>
   </a>
   <a href="indianindependence.ejs">
      <div class="timeline-item mt-3 row text-center p-2">
         <div class="col font-weight-bold text-md-right">INDIAN INDEPENDENCE MOVEMENT</div>
         <div class="col font-weight-bold text-md-left">1885-1947</div>
         <div class="col-12 text-xs text-muted">Click here to know more</div>
      </div>
   </a>
   <a href="independenceandpartition.ejs">
      <div class="timeline-item mt-3 row text-center p-2">
         <div class="col font-weight-bold text-md-right">INDEPENDENCE AND PARTITION</div>
         <div class="col font-weight-bold text-md-left">c. 1947–present</div>
         <div class="col-12 text-xs text-muted">Click here to know more</div>
      </div>
   </a>
      <div class="timeline-breaker timeline-breaker-bottom">2021</div>
   </div>
</div>
